
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{xdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <div class="card mb-3" id="customersTable">
            <div class="card-header">
              <div class="mb-2 row g-3">
                <h1>Code 가져오기</h1>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table mb-0 data-table fs-10 align-middle-JHY" data-datatables="data-datatables">
                </table>
              </div>
            </div>
            <div class="mb-2 row g-3 ms-1 me-1">
              <div class="col" style="text-align: right;">
                <button class="btn btn-outline-warning btn-sm" type="button" onclick="insertFile()"><span class="fas fa-file-import"></span></button>
                <input class="form-control form-control-sm d-none" id="customFileSm" type="file" name="file" onchange="viewFile(this)" />
                <a href="/xdm/code/CodeXdmList"><button class="btn btn-outline-dark btn-sm" type="button"><span class="fas fa-list-ul"></span></button></a>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{xdm/include/footer :: footer}"><div>
        </div>
      </div>
    </main>
    <div th:replace="~{xdm/include/modal :: modal}"></div>
    <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
    <div th:replace="~{xdm/include/includeXdmCommon :: includeXdmCommon}"></div>
    <div th:replace="~{xdm/include/includeXdmList :: includeXdmList}"></div>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
  <script src="//cdn.rawgit.com/rainabba/jquery-table2excel/1.1.0/dist/jquery.table2excel.min.js"></script>
  <script src="/xdm/template/falcon-v3.23.0/assets/js/excel.js"></script>
   <script>
    let form = document.querySelector("form[name=formList]");
    
    let goUrlXdmList = "/xdm/member/MemberXdmList";
   </script>
  </body>
  
  </html>