
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{xdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
          <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
          <div class="card mb-3" id="customersTable" data-list='{"valueNames":["#","name", "varieties", "gender","birth", "weight", "vaccination", "neutering", "personality", "disease", "user-name", "resist-date", "modify-date"],"page":10,"pagination":true}'>
            <div class="card-header">
              <div class="mb-2 row g-3">
                <h1>펫 목록</h1>
                <div class="col-4">
                  <select class="form-select-JHY" id="codeDelFlag" name="codeDelFlag" aria-label="Default select example">
                    <option>삭제 여부</option>
                    <option value="1">Y</option>
                    <option value="0" selected>N</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-select-JHY" id="codeDelFlag" name="codeDelFlag" aria-label="Default select example">
                    <option>접종 여부</option>
                    <option value="1">Y</option>
                    <option value="0">N</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-select-JHY" id="codeDelFlag" name="codeDelFlag" aria-label="Default select example">
                    <option>중성화 여부</option>
                    <option value="1">Y</option>
                    <option value="0">N</option>
                  </select>
                </div>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" aria-label="Default select example">
                    <option selected="selected">날짜</option>
                    <option id="codeRegDate">등록일</option>
                    <option id="codeModDate">수정일</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" type="text" placeholder="yy-mm-dd" data-options='{"disableMobile":true}' />
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" type="text" placeholder="yy-mm-dd" data-options='{"disableMobile":true}' />
                </div>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" aria-label="Default select example">
                    <option selected="selected">검색구분</option>
                    <option value="no">이름</option>
                    <option value="no">품종</option>
                    <option value="no">보호자 이름</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY" type="text" placeholder="검색어" />
                </div>
                <div class="col-4">
                  <button class="btn btn-outline-dark btn-sm" type="button"><span class="fas fa-search"></span></button>
                  <button class="btn btn-outline-dark btn-sm" type="button"><span class="fas fa-redo-alt"></span></button>
                </div>
              </div>
              <div class="mb-4 row g-3">
                <div class="col-4 d-flex">
                  <input class="form-control-JHY w-25" type="text" placeholder="최소 무게" />
                  <label class="ms-2" for="">~</label>
                  <input class="form-control-JHY ms-2 w-25" type="text" placeholder="최대 무게" />
                </div>
              </div>
              <div class="row">
                <div class="col">
                  <label class="form-label-JHY" for="description">Total: </label>
                  <label class="form-label-JHY" for="description" th:text="${vo.totalRows}"></label>
                </div>
                <div class="col-2" style="text-align: right;">
                  <select class="form-select-JHY" aria-label="Default select example">
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="20">20</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table mb-0 data-table fs-10 align-middle-JHY" data-datatables="data-datatables">
                  <thead class="bg-200">
                    <tr>
                      <th>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}' />
                        </div>
                      </th>
                      <th class="text-900 sort white-nowrap" data-sort="#">#</th>
                      <th class="text-900 sort white-nowrap" data-sort="name">이름</th>
                      <th class="text-900 sort white-nowrap" data-sort="varieties">품종</th>
                      <th class="text-900 sort white-nowrap" data-sort="gender">성별</th>
                      <th class="text-900 sort white-nowrap" data-sort="birth">생일</th>
                      <th class="text-900 sort white-nowrap" data-sort="weight">무게</th>
                      <th class="text-900 sort white-nowrap" data-sort="vaccination">접종 유무</th>
                      <th class="text-900 sort white-nowrap" data-sort="neutering">중성화 유무</th>
                      <th class="text-900 sort white-nowrap" data-sort="personality">성격/특징</th>
                      <th class="text-900 sort white-nowrap" data-sort="disease">질병/질환</th>
                      <th class="text-900 sort white-nowrap" data-sort="user-name">보호자 이름</th>
                      <th class="text-900 sort white-nowrap" data-sort="resist-date">등록일</th>
                      <th class="text-900 sort white-nowrap text-end" data-sort="modify-date">수정일</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="table-customers-body">
                    <tr th:if="${#lists.isEmpty(list)}">
                      <td>
                        <div class="fs-9 mb-0">
                          There are no data!
                        </div>
                      </td>
                    </tr>
                    <tr th:if="${!#lists.isEmpty(list)}" class="btn-reveal-trigger" th:each="list : ${list}">
                      <td>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input" type="checkbox" id="customer-0" data-bulk-select-row="data-bulk-select-row" />
                        </div>
                      </td>
                      <td class="#" th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
                      <td class="name"><a th:href="@{/xdm/pet/PetXdmView(petSeq=${list.petSeq})}" th:text="${list.petName}"></a></td>
                      <td class="varieties" th:text="${list.petVarieties}"></td>
                      <td class="gender" th:text="${@codeService.selectOneCachedCode(list.petGender)}"></td>
                      <td class="birth" th:text="${list.petBirth}"></td>
                      <td class="weight" th:text="${list.petWeight}"></td>
                      <td class="vaccination" th:if="${list.petVaccinationFlag} == '1'">Y</td>
                      <td class="vaccination" th:if="${list.petVaccinationFlag} == '0'">N</td>
                      <td class="neutering" th:if="${list.petNeuteringFlag} == '1'">Y</td>
                      <td class="neutering" th:if="${list.petNeuteringFlag} == '0'">N</td>
                      <td class="personality" th:text="${list.personalCount}"></td>
                      <td class="disease" th:text="${list.diseaseCount}"></td>
                      <td class="user-name"><a th:href="@{/xdm/member/MemberXdmView(userSeq=${list.userSeq})}" th:text="${list.userName}"></a></td>
                      <td class="resist-date" th:text="${list.petRegDate}"></td>
                      <td class="modify-date text-end" th:text="${list.petModDate}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="card-footer d-flex align-items-center justify-content-center">
              <ul class="pagination mb-0">
                <li th:if="${vo.startPage gt vo.pageNumToShow}" class="page-item" style="cursor: pointer;">
                  <a class="page-link" href="javascript:goList(${vo.startPage - 1})" th:attr="onclick=|goList('${vo.startPage - 1}', '/xdm/code/CodeXdmList')|">
                    <i class="fas fa-chevron-left"></i>
                  </a>
                </li>
                <li th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''" class="page-item" style="cursor: pointer;">
                  <a class="page-link" th:attr="onclick=|goList('${num}', '/xdm/code/CodeXdmList')|" th:text="${num}"></a>
                </li>
                <li th:if="${vo.endPage ne vo.totalPages}" class="page-item" style="cursor: pointer;">
                  <a class="page-link" th:attr="onclick=|goList('${vo.endPage + 1}', '/xdm/code/CodeXdmList')|">
                    <i class="fas fa-chevron-right"></i>
                  </a>
                </li>
              </ul>
            </div>
            <div class="mb-2 row g-3 ms-1 me-1">
              <div class="col">
                <button class="btn btn-danger btn-sm" type="button"><span class="bi-x"></span></button>
                <button class="btn btn-danger btn-sm" type="button"><span class="far fa-trash-alt"></span></button>
              </div>
              <div class="col" style="text-align: right;">
                <button class="btn btn-primary btn-sm" type="button">U</button>
                <button class="btn btn-success btn-sm" type="button"><span class="far fa-file-excel"></span></button>
                <a href="/xdm/code/CodeXdmForm"><button class="btn btn-primary btn-sm" type="button"><span class="fas fa-plus"></span></button></a>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{xdm/include/footer :: footer}"><div>
        </div>
      </div>
    </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
  <div th:replace="~{xdm/include/includeXdmList :: includeXdmList}"></div>
  <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"><div>
  </body>
  
  </html>