<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{peter/include/head :: head}"></div>
        <form id="productPagination">
            <input type="hidden" id="prodType" name="prodType" th:value="${vo.prodType}">
            <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
            <input type="hidden" id="gridMethod" name="gridMethod" th:value="${vo.gridMethod}"/>
            <!--Body Container-->
            <div id="page-content">  
                <!--Collection Banner-->
                <div class="collection-header">
                    <div class="collection-hero">
                        <div class="collection-hero__image"></div>
                        <div class="collection-hero__title-wrapper container">
                            <h2 class="collection-hero__title" th:text="${@codeService.selectOneCachedCode(vo.prodType)}"></h2>
                            <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="/peter/index/IndexPeterView" title="Back to the home page">Home</a><span>|</span><span class="fw-bold" th:text="${@codeService.selectOneCachedCode(vo.prodType)}"></span></div>
                        </div>
                    </div>
                </div>
                <!--End Collection Banner-->

                <div class="container">
                    <div class="row">
                        <!--Sidebar-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar">
                            <div class="closeFilter d-block d-lg-none"><i class="icon icon an an-times-r"></i></div>
                            <div class="sidebar_tags" th:if="${vo.prodType} == 1">
                                <!--Price Filter-->
                                <div class="sidebar_widget filterBox filter-widget">
                                    <div class="widget-title"><h2 class="mb-0">Price</h2></div>
                                    <div id="slider-range" class="mt-2"></div>
                                    <div class="row">
                                        <div class="col-6">
                                            <p class="no-margin"><input id="amount" type="text"></p>
                                        </div>
                                        <div class="col-6 text-right margin-25px-top">
                                            <button class="btn btn--small rounded">filter</button>
                                        </div>
                                    </div>
                                </div>
                                <!--End Price Filter-->
                                <!--age type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">급여 연령</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="salaryAge : ${@codeService.selectListCachedCode(2)}">
                                            <input class="form-check-input" type="checkbox" id="feedSalaryAge" name="feedSalaryAge" th:value="${salaryAge.codeSeq}">
                                            <label class="form-check-label" for="feedSalaryAge" th:text="${salaryAge.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End age type-->
                                <!--kind type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">종류</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="type : ${@codeService.selectListCachedCode(3)}">
                                            <input class="form-check-input" type="checkbox" id="feedType" name="feedType" th:value="${type.codeSeq}">
                                            <label class="form-check-label" for="feedType" th:text="${type.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End kind type-->
                                <!--function type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">기능</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="function : ${@codeService.selectListCachedCode(6)}">
                                            <input class="form-check-input" type="checkbox" id="funcName" name="funcName" th:value="${function.codeSeq}">
                                            <label class="form-check-label" for="funcName" th:text="${function.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End function type-->
                                <!--etc type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">기타</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="etc : ${@codeService.selectListCachedCode(4)}">
                                            <input class="form-check-input" type="checkbox" id="feedEtc" name="feedEtc" th:value="${etc.codeSeq}">
                                            <label class="form-check-label" for="feedEtc" th:text="${etc.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End etc type-->
                                <!--weight type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">중량</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="weight : ${@codeService.selectListCachedCode(5)}">
                                            <input class="form-check-input" type="checkbox" id="infoWeight" name="infoWeight" th:value="${weight.codeSeq}">
                                            <label class="form-check-label" for="infoWeight" th:text="${weight.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End weight type-->
                                <!--brand type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">브랜드</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="brand : ${@codeService.selectListCachedCode(7)}">
                                            <input class="form-check-input" type="checkbox" id="feedBrand" name="feedBrand" th:value="${brand.codeSeq}">
                                            <label class="form-check-label" for="feedBrand" th:text="${brand.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End brand type-->
                                <!--ingredient type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">주원료</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="ingredient : ${@codeService.selectListCachedCode(8)}">
                                            <input class="form-check-input" type="checkbox" id="feedIngredient" name="feedIngredient" th:value="${ingredient.codeSeq}">
                                            <label class="form-check-label" for="feedIngredient" th:text="${ingredient.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End ingredient type-->
                                <!--material type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">크기</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="size : ${@codeService.selectListCachedCode(16)}">
                                            <input class="form-check-input" type="checkbox" id="feedSize" name="feedSize" th:value="${size.codeSeq}">
                                            <label class="form-check-label" for="feedSize" th:text="${size.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End material type-->
                            </div>
                        </div>
                        <!--End Sidebar-->

                        <!--Main Content-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col">
                            <!--Active Filters-->
                            <ul class="active-filters d-flex flex-wrap align-items-center m-0 list-unstyled">
                                <li><a href="#">Clear all</a></li>
                                <li><a href="#">습식사료 <i class="an an-times-l"></i></a></li>
                                <li><a href="#">눈/눈물 <i class="an an-times-l"></i></a></li>
                            </ul>
                            <!--End Active Filters-->
                            <!--Toolbar-->
                            <div class="toolbar">
                                <div class="filters-toolbar-wrapper">
                                    <ul class="list-unstyled d-flex align-items-center">
                                        <li class="product-count d-flex align-items-center">
                                            <button type="button" class="btn btn-filter an an-slider-3 d-inline-flex d-lg-none me-2 me-sm-3"><span class="hidden">Filter</span></button>
                                            <div class="filters-toolbar__item">
                                                <span class="filters-toolbar__product-count d-none d-sm-block">Showing: <span th:text="${vo.totalRows}"></span> products</span>
                                            </div>
                                        </li>
                                        <li class="collection-view ms-sm-auto">
                                            <div class="filters-toolbar__item collection-view-as d-flex align-items-center me-3">
                                                <a href="javascript:void(0)" class="change-view prd-grid"><i class="icon an an-th" aria-hidden="true"></i><span class="tooltip-label">Grid View</span></a>
                                                <a href="javascript:void(0)" class="change-view prd-list"><i class="icon an an-th-list" aria-hidden="true"></i><span class="tooltip-label">List View</span></a>
                                            </div>
                                        </li>
                                        <li class="filters-sort ms-auto ms-sm-0">
                                            <div class="filters-toolbar__item">
                                                <label for="shSortBy" class="hidden">Sort by:</label>
                                                <select name="shSortBy" id="shSortBy" class="filters-toolbar__input filters-toolbar__input--sort">
                                                    <option value="" th:selected="${vo.shSortBy == null}">정렬</option>
                                                    <option value="1" th:selected="${vo.shSortBy == 1}">최신순</option>
                                                    <option value="2" th:selected="${vo.shSortBy == 2}">리뷰많은순</option>
                                                    <option value="3" th:selected="${vo.shSortBy == 3}">낮은가격순</option>
                                                    <option value="4" th:selected="${vo.shSortBy == 4}">높은가격순</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Toolbar-->

                            <!--Product Grid-->
                            <div class="grid-products grid--view-items prd-grid">
                                <div class="row productInfo"  th:if="${vo.prodType} == 1">
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 item" th:each="list : ${list}">
                                        <!--Start Product Image-->
                                        <div class="product-image">
                                            <!--Start Product Image-->
                                            <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}">
                                                <img class="blur-up lazyload" src="/peter/template/optimal-html/assets/images/사료/loyalcanin-dog-indore-puppy-3kg-immunity.jpeg">
                                                <!-- product label -->
                                                <div class="product-labels"><span class="lbl on-sale rounded">최저가도전!</span></div>
                                                <!-- End product label -->
                                            </a>
                                            <!--End Product Image-->
                                        </div>
                                        <!--End Product Image-->
                                        <!--Start Product Details-->
                                        <div class="product-details text-center">
                                            <!--Product Name-->
                                            <div class="product-name text-uppercase">
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} == null and ${list.infoWeight} == null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName}"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} != null and ${list.infoWeight} == null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${@codeService.selectOneCachedCode(list.funcName)}"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} == null and ${list.infoWeight} != null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${list.infoWeight} + 'kg'"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} != null and ${list.infoWeight} != null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${list.infoWeight} + 'kg' + ' ' + ${@codeService.selectOneCachedCode(list.funcName)}"></a>
                                            </div>
                                            <!--End Product Name-->
                                            <!--Product Price-->
                                            <div class="product-price">
                                                <div class="old-price" th:if="${list.infoDiscount} != 0" th:text="${list.infoPrice}"></div>
                                                <span class="price" th:if="${list.infoDiscount} == 0" th:text="${list.infoPrice}"></span>
                                                <span class="price" th:if="${list.infoDiscount} != 0" th:text="${list.infoDiscount} + '% ' + ${list.discountPrice}"></span>
                                            </div>
                                            <!--End Product Price-->
                                            <!--Product Review-->
                                            <div class="product-review d-flex align-items-center justify-content-center">
                                                <span th:if="${list.prodScore} > 4"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i></span>
                                                <span th:if="${list.prodScore} > 3 and 4 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 2 and 3 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 1 and 2 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 0 and 1 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} == 0"><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                            </div>
                                            <!--End Product Review-->
                                            <!--deliver-->
                                            <div class="product-review d-flex align-items-center justify-content-center" style="color: rgb(229, 135, 151);">
                                                <i class="an an-ship-fast fs-4"></i>&emsp;빠른 배송
                                            </div>
                                            <!--End deliver-->
                                        </div>
                                        <!--End Product Details-->
                                    </div>
                                </div>
                            </div>
                            <!--End Product Grid-->

                            <!--Pagination Classic-->
                            <hr class="clear">
                            <div th:replace="~{peter/include/pagination :: pagination}"></div>
                        </div>
                        <!--End Main Content-->
                    </div>
                </div>
            </div>
            <!--End Body Container-->
        </form>

            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
            <!--End Scoll Top-->

            <!--MiniCart Drawer-->
            <div class="minicart-right-drawer modal right fade" id="minicart-drawer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="cart-drawer" class="block block-cart">
                            <div class="minicart-header">
                                <a href="javascript:void(0);" class="close-cart" data-bs-dismiss="modal" aria-label="Close"><i class="an an-times-r" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></a>
                                <h4 class="fs-6">Your cart (2 Items)</h4>
                            </div>
                            <div class="minicart-content">
                                <ul class="clearfix">
                                    <li class="item d-flex justify-content-center align-items-center">
                                        <a class="product-image" href="product-layout1.html">
                                            <img class="blur-up lazyload" src="assets/images/products/cart-product-img1.jpg" data-src="assets/images/products/cart-product-img1.jpg" alt="image" title="">
                                        </a>
                                        <div class="product-details">
                                            <a class="product-title" href="product-layout1.html">Floral Crop Top</a>
                                            <div class="variant-cart">Black / XL</div>
                                            <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$59.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qtyDetail text-center">
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus-l" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <a href="#" class="edit-i remove"><i class="icon an an-edit-l" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
                                            <a href="#" class="remove"><i class="an an-times-r" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i></a>
                                        </div>
                                    </li>
                                    <li class="item d-flex justify-content-center align-items-center">
                                        <a class="product-image" href="product-layout1.html">
                                            <img class="blur-up lazyload" src="assets/images/products/cart-product-img1.jpg" data-src="assets/images/products/cart-product-img1.jpg" alt="image" title="">
                                        </a>
                                        <div class="product-details">
                                            <a class="product-title" href="product-layout1.html">V Neck T-shirts</a>
                                            <div class="variant-cart">Blue / XL</div>
                                            <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$199.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qtyDetail text-center">
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus-l" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <a href="#" class="edit-i remove"><i class="icon an an-edit-l" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
                                            <a href="#" class="remove"><i class="an an-times-r" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="minicart-bottom">
                                <div class="shipinfo text-center mb-3 text-uppercase">
                                    <p class="freeShipMsg"><i class="an an-truck fs-5 me-2 align-middle"></i>SPENT <b>$199.00</b> MORE FOR FREE SHIPPING</p>
                                </div>
                                <div class="subtotal">
                                    <span>Total:</span>
                                    <span class="product-price">$93.13</span>
                                </div>
                                <a href="checkout-style1.html" class="w-100 p-2 my-2 btn btn-outline-primary proceed-to-checkout rounded">Proceed to Checkout</a>
                                <a href="cart-style1.html" class="w-100 btn-primary cart-btn rounded">View Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="~{peter/include/foot :: foot}"></div>
            <div th:replace="~{peter/include/includePeterCommon :: includePeterCommon}"></div>
            <div th:replace="~{peter/include/includePeterOriginal :: includePeterOriginal}"></div>
        </div>
        <!--End Page Wrapper-->
        <script th:inline="javascript">
            let form = document.getElementById("productPagination");

            let goUrlProductList = "/peter/shop/ShopPeterList";

            window.href = /*[[@{/peter/shop/ShopPeterView(prodSeq=value, prodType=${vo.prodType})}]]*/ '';
            window.func = /*[[${@codeService.selectOneCachedCode(1)}]]*/ '';
            window.weight = /*[[${@codeService.selectOneCachedCode(1)}]]*/ '';
        </script>
        <script th:inline="javascript" src="/peter/template/optimal-html/assets/js/JHY/sort.js"></script>
    </body>
</html>