<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:replace="~{peter/include/head :: head}"></div>
        <form id="productPagination">
            <input type="hidden" id="prodType" name="prodType" th:value="${vo.prodType}">
            <input type="hidden" id="thisPage" name="thisPage" th:value="${vo.thisPage}" default="1"/>
            <input type="hidden" id="gridMethod" name="gridMethod" th:value="${vo.gridMethod}"/>
            <input type="hidden" id="badgeArray" name="badgeArray" th:value="${vo.badgeArray}"/>
            <!--Body Container-->
            <div id="page-content">  
                <!--Collection Banner-->
                <div class="collection-header">
                    <div class="collection-hero">
                        <div class="collection-hero__image"></div>
                        <div class="collection-hero__title-wrapper container">
                            <h2 class="collection-hero__title" th:text="${@codeService.selectOneCachedCode(vo.prodType)}"></h2>
                            <div class="breadcrumbs text-uppercase mt-1 mt-lg-2"><a href="/peter/index/IndexPeterView" title="Back to the home page">Home</a><span>|</span><span class="fw-bold" th:text="${@codeService.selectOneCachedCode(vo.prodType)}"></span></div>
                        </div>
                    </div>
                </div>
                <!--End Collection Banner-->

                <div class="container">
                    <div class="row">
                        <!--Sidebar-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-3 sidebar filterbar">
                            <div class="closeFilter d-block d-lg-none"><i class="icon icon an an-times-r"></i></div>
                            <div class="sidebar_tags" id="filter" th:if="${vo.prodType} == 1">
                                <input type="hidden" id="shFeedSalaryAge" name="shFeedSalaryAge" th:value="${vo.shFeedSalaryAge}"/>
                                <input type="hidden" id="shFeedType" name="shFeedType" th:value="${vo.shFeedType}"/>
                                <input type="hidden" id="shFeedEtc" name="shFeedEtc" th:value="${vo.shFeedEtc}"/>
                                <input type="hidden" id="shFeedWeight" name="shFeedWeight" th:value="${vo.shFeedWeight}"/>
                                <input type="hidden" id="shFeedSize" name="shFeedSize" th:value="${vo.shFeedSize}"/>
                                <input type="hidden" id="shMinPrice" name="shMinPrice" th:value="${vo.shMinPrice}"/>
                                <input type="hidden" id="shMaxPrice" name="shMaxPrice" th:value="${vo.shMaxPrice}"/>
                                <input type="hidden" id="prodFuncArray" name="prodFuncArray" th:value="${vo.prodFuncArray}"/>
                                <input type="hidden" id="feedBrandArray" name="feedBrandArray" th:value="${vo.feedBrandArray}"/>
                                <input type="hidden" id="shIngredientArray" name="shIngredientArray" th:value="${vo.shIngredientArray}"/>
                                <input type="hidden" id="prodPetType" name="prodPetType" th:value="${vo.prodPetType}"/>
                                <!--Price Filter-->
                                <div class="sidebar_widget filterBox filter-widget">
                                    <div class="widget-title"><h2 class="mb-0">Price</h2></div>
                                    <div id="slider-range" class="mt-2"></div>
                                    <p class="no-margin"><input id="amount" type="text" readonly></p>
                                </div>
                                <!--End Price Filter-->
                                <!--pet type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">반려 동물</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-lg-6" th:each="pet : ${@codeService.selectListCachedCode(26)}">
                                            <input class="form-check-input" type="radio" th:id="pet + ${pet.codeSeq}" name="petType" th:value="${pet.codeSeq}" th:checked="${pet.codeSeq} == ${vo.prodPetType}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="pet + ${pet.codeSeq}" th:text="${pet.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End pet type-->
                                <!--age type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">급여 연령</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-lg-6" th:each="salaryAge : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 2 : 33)}">
                                        <input class="form-check-input" type="radio" th:id="feedSalaryAge + ${salaryAge.codeSeq}" name="feedSalaryAge" th:value="${salaryAge.codeSeq}" th:checked="${salaryAge.codeSeq} == ${vo.shFeedSalaryAge}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedSalaryAge + ${salaryAge.codeSeq}" th:text="${salaryAge.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End age type-->
                                <!--kind type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">종류</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="type : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 3 : 34)}">
                                            <input class="form-check-input" type="radio" th:id="feedType + ${type.codeSeq}" name="feedType" th:value="${type.codeSeq}" th:checked="${type.codeSeq} == ${vo.shFeedType}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedType + ${type.codeSeq}" th:text="${type.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End kind type-->
                                <!--function type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">기능</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="function : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 6 : 35)}">
                                            <input class="form-check-input" type="checkbox" th:id="funcName + ${function.codeSeq}" name="funcName" th:value="${function.codeSeq}" th:checked="${vo.prodFuncArray.contains(function.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="funcName + ${function.codeSeq}" th:text="${function.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End function type-->
                                <!--etc type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">기타</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="etc : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 4 : 36)}">
                                            <input class="form-check-input" type="radio" th:id="feedEtc + ${etc.codeSeq}" name="feedEtc" th:value="${etc.codeSeq}" th:checked="${etc.codeSeq} == ${vo.shFeedEtc}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedEtc + ${etc.codeSeq}" th:text="${etc.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End etc type-->
                                <!--weight type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">중량</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="weight : ${@codeService.selectListCachedCode(5)}">
                                            <input class="form-check-input" type="radio" th:id="feedWeight + ${weight.codeSeq}" name="feedWeight" th:value="${weight.codeSeq}" th:checked="${weight.codeSeq} == ${vo.shFeedWeight}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedWeight + ${weight.codeSeq}" th:text="${weight.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End weight type-->
                                <!--brand type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">브랜드</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="brand : ${@codeService.selectListCachedCode(7)}">
                                            <input class="form-check-input" type="checkbox" th:id="feedBrand + ${brand.codeSeq}" name="feedBrand" th:value="${brand.codeSeq}" th:checked="${vo.feedBrandArray.contains(brand.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="feedBrand + ${brand.codeSeq}" th:text="${brand.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End brand type-->
                                <!--ingredient type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">주원료</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="ingredient : ${@codeService.selectListCachedCode(8)}">
                                            <input class="form-check-input" type="checkbox" th:id="feedIngredient + ${ingredient.codeSeq}" name="feedIngredient" th:value="${ingredient.codeSeq}" th:checked="${vo.shIngredientArray.contains(ingredient.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="feedIngredient + ${ingredient.codeSeq}" th:text="${ingredient.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End ingredient type-->
                                <!--material type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">크기</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="size : ${@codeService.selectListCachedCode(16)}">
                                            <input class="form-check-input" type="radio" th:id="feedSize + ${size.codeSeq}" name="feedSize" th:value="${size.codeSeq}" th:checked="${size.codeSeq} == ${vo.shFeedSize}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedSize + ${size.codeSeq}" th:text="${size.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End material type-->
                            </div>

                            <div class="sidebar_tags" id="filter" th:if="${vo.prodType} == 2">
                                <input type="hidden" id="shFeedType" name="shFeedType" th:value="${vo.shFeedType}"/>
                                <input type="hidden" id="shSnckFeature" name="shSnckFeature" th:value="${vo.shSnckFeature}"/>
                                <input type="hidden" id="shFeedWeight" name="shFeedWeight" th:value="${vo.shFeedWeight}"/>
                                <input type="hidden" id="shMinPrice" name="shMinPrice" th:value="${vo.shMinPrice}"/>
                                <input type="hidden" id="shMaxPrice" name="shMaxPrice" th:value="${vo.shMaxPrice}"/>
                                <input type="hidden" id="prodFuncArray" name="prodFuncArray" th:value="${vo.prodFuncArray}"/>
                                <input type="hidden" id="feedBrandArray" name="feedBrandArray" th:value="${vo.feedBrandArray}"/>
                                <input type="hidden" id="shIngredientArray" name="shIngredientArray" th:value="${vo.shIngredientArray}"/>
                                <input type="hidden" id="prodPetType" name="prodPetType" th:value="${vo.prodPetType}"/>
                                <!--Price Filter-->
                                <div class="sidebar_widget filterBox filter-widget">
                                    <div class="widget-title"><h2 class="mb-0">Price</h2></div>
                                    <div id="slider-range" class="mt-2"></div>
                                    <p class="no-margin"><input id="amount" type="text" readonly></p>
                                </div>
                                <!--End Price Filter-->
                                <!--pet type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">반려 동물</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-lg-6" th:each="pet : ${@codeService.selectListCachedCode(26)}">
                                            <input class="form-check-input" type="radio" th:id="pet + ${pet.codeSeq}" name="petType" th:value="${pet.codeSeq}" th:checked="${pet.codeSeq} == ${vo.prodPetType}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="pet + ${pet.codeSeq}" th:text="${pet.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End pet type-->
                                <!--kind type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">종류</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="type : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 17 : 37)}">
                                            <input class="form-check-input" type="radio" th:id="feedType + ${type.codeSeq}" name="feedType" th:value="${type.codeSeq}" th:checked="${type.codeSeq} == ${vo.shFeedType}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedType + ${type.codeSeq}" th:text="${type.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End kind type-->
                                <!--function type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">기능</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="function : ${@codeService.selectListCachedCode(vo.prodPetType == 239 ? 6 : 35)}">
                                            <input class="form-check-input" type="checkbox" th:id="funcName + ${function.codeSeq}" name="funcName" th:value="${function.codeSeq}" th:checked="${vo.prodFuncArray.contains(function.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="funcName + ${function.codeSeq}" th:text="${function.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End function type-->
                                <!--etc type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">특징</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="feature : ${@codeService.selectListCachedCode(18)}">
                                            <input class="form-check-input" type="radio" th:id="feature + ${feature.codeSeq}" name="feature" th:value="${feature.codeSeq}" th:checked="${feature.codeSeq} == ${vo.shSnckFeature}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feature + ${feature.codeSeq}" th:text="${feature.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End etc type-->
                                <!--weight type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">중량</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="weight : ${@codeService.selectListCachedCode(5)}">
                                            <input class="form-check-input" type="radio" th:id="feedWeight + ${weight.codeSeq}" name="feedWeight" th:value="${weight.codeSeq}" th:checked="${weight.codeSeq} == ${vo.shFeedWeight}" onclick="radio(this)">
                                            <label class="form-check-label" th:for="feedWeight + ${weight.codeSeq}" th:text="${weight.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End weight type-->
                                <!--brand type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">브랜드</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="brand : ${@codeService.selectListCachedCode(21)}">
                                            <input class="form-check-input" type="checkbox" th:id="feedBrand + ${brand.codeSeq}" name="feedBrand" th:value="${brand.codeSeq}" th:checked="${vo.feedBrandArray.contains(brand.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="feedBrand + ${brand.codeSeq}" th:text="${brand.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End brand type-->
                                <!--ingredient type-->
                                <div class="sidebar_widget filterBox filter-widget size-swacthes product-type">
                                    <div class="widget-title"><h2 class="mb-0">주원료</h2></div>
                                    <div class="filterDD row ms-auto">
                                        <div class="form-check col-6" th:each="ingredient : ${@codeService.selectListCachedCode(8)}">
                                            <input class="form-check-input" type="checkbox" th:id="feedIngredient + ${ingredient.codeSeq}" name="feedIngredient" th:value="${ingredient.codeSeq}" th:checked="${vo.shIngredientArray.contains(ingredient.codeSeq)}" onclick="check(this)">
                                            <label class="form-check-label" th:for="feedIngredient + ${ingredient.codeSeq}" th:text="${ingredient.codeName}"></label>
                                        </div>
                                    </div>
                                </div>
                                <!--End ingredient type-->
                            </div>
                        </div>
                        <!--End Sidebar-->

                        <!--Main Content-->
                        <div class="col-12 col-sm-12 col-md-12 col-lg-9 main-col" id="main">
                            <!--Active Filters-->
                            <ul class="active-filters d-flex flex-wrap align-items-center m-0 list-unstyled" id="searchBadge">
                                <li><a href="javascript:void(0)" id="clearBtn" onclick="allRemoveBadge()">Clear all</a></li>
                                <li th:each="badge : ${vo.badgeArray}">
                                    <a href="javascript:void(0)" onclick="removeBadge(this)" th:data-value="${badge}" th:utext="${@codeService.selectOneCachedCode(badge)} + '<i class=\'an an-times-l\'></i>'"></a>
                                </li>
                            </ul>
                            <!--End Active Filters-->
                            <!--Toolbar-->
                            <div class="toolbar">
                                <div class="filters-toolbar-wrapper">
                                    <ul class="list-unstyled d-flex align-items-center">
                                        <li class="product-count d-flex align-items-center">
                                            <button type="button" class="btn btn-filter an an-slider-3 d-inline-flex d-lg-none me-2 me-sm-3"><span class="hidden">Filter</span></button>
                                            <div class="filters-toolbar__item">
                                                <span class="filters-toolbar__product-count d-none d-sm-block">Showing: <span id="productNum" th:text="${vo.totalRows}"></span> products</span>
                                            </div>
                                        </li>
                                        <li class="collection-view ms-sm-auto">
                                            <div class="filters-toolbar__item collection-view-as d-flex align-items-center me-3">
                                                <a href="javascript:void(0)" class="change-view prd-grid"><i class="icon an an-th" aria-hidden="true"></i><span class="tooltip-label">Grid View</span></a>
                                                <a href="javascript:void(0)" class="change-view prd-list"><i class="icon an an-th-list" aria-hidden="true"></i><span class="tooltip-label">List View</span></a>
                                            </div>
                                        </li>
                                        <li class="filters-sort ms-auto ms-sm-0">
                                            <div class="filters-toolbar__item">
                                                <label for="shSortBy" class="hidden">Sort by:</label>
                                                <select name="shSortBy" id="shSortBy" onchange="sort()" class="filters-toolbar__input filters-toolbar__input--sort">
                                                    <option value="" th:selected="${vo.shSortBy == null}">정렬</option>
                                                    <option value="1" th:selected="${vo.shSortBy == 1}">최신순</option>
                                                    <option value="2" th:selected="${vo.shSortBy == 2}">리뷰많은순</option>
                                                    <option value="3" th:selected="${vo.shSortBy == 3}">낮은가격순</option>
                                                    <option value="4" th:selected="${vo.shSortBy == 4}">높은가격순</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <!--End Toolbar-->

                            <!--Product Grid-->
                            <div class="grid-products grid--view-items prd-grid">
                                <div class="row productInfo"  th:if="${vo.prodType} == 1">
                                    <div class="col-6 col-sm-6 col-md-4 col-lg-4 item" th:each="list : ${list}">
                                        <!--Start Product Image-->
                                        <div class="product-image">
                                            <!--Start Product Image-->
                                            <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}">
                                                <img class="blur-up lazyload" th:src="${list.path}">
                                                <!-- product label -->
                                                <div class="product-labels"><span class="lbl on-sale rounded">최저가도전!</span></div>
                                                <!-- End product label -->
                                            </a>
                                            <!--End Product Image-->
                                        </div>
                                        <!--End Product Image-->
                                        <!--Start Product Details-->
                                        <div class="product-details text-center">
                                            <!--Product Name-->
                                            <div class="product-name text-uppercase">
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} == null and ${list.infoWeight} == null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName}"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} != null and ${list.infoWeight} == null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${@codeService.selectOneCachedCode(list.funcName)}"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} == null and ${list.infoWeight} != null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${list.infoWeight} + 'kg'"></a>
                                                <a th:href="@{/peter/shop/ShopPeterView(prodSeq=${list.prodSeq}, prodType=${vo.prodType})}" th:if="${list.funcName} != null and ${list.infoWeight} != null" th:text="${@codeService.selectOneCachedCode(list.feedBrand)} + ' ' + ${list.prodName} + ' ' + ${list.infoWeight} + 'kg' + ' ' + ${@codeService.selectOneCachedCode(list.funcName)}"></a>
                                            </div>
                                            <!--End Product Name-->
                                            <!--Product Price-->
                                            <div class="product-price">
                                                <div class="old-price" th:if="${list.infoDiscount} != 0" th:text="${list.infoPrice}"></div>
                                                <span class="price" th:if="${list.infoDiscount} == 0" th:text="${list.infoPrice}"></span>
                                                <span class="price" th:if="${list.infoDiscount} != 0" th:text="${list.infoDiscount} + '% ' + ${list.discountPrice}"></span>
                                            </div>
                                            <!--End Product Price-->
                                            <!--Product Review-->
                                            <div class="product-review d-flex align-items-center justify-content-center">
                                                <span th:if="${list.prodScore} > 4"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i></span>
                                                <span th:if="${list.prodScore} > 3 and 4 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 2 and 3 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 1 and 2 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} > 0 and 1 >= ${list.prodScore}"><i class="an an-star"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                                <span th:if="${list.prodScore} == 0"><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i><i class="an an-star-o"></i></span>
                                            </div>
                                            <!--End Product Review-->
                                            <!--deliver-->
                                            <div class="product-review d-flex align-items-center justify-content-center" style="color: rgb(229, 135, 151);">
                                                <i class="an an-ship-fast fs-4"></i>&emsp;빠른 배송
                                            </div>
                                            <!--End deliver-->
                                        </div>
                                        <!--End Product Details-->
                                    </div>
                                </div>
                            </div>
                            <!--End Product Grid-->

                            <!--Pagination Classic-->
                            <hr class="clear">
                            <div class="pagination">
                                <ul>
                                    <li class="prev page-item" th:if="${vo.startPage gt vo.pageNumToShow}">
                                        <a href="javascript:goShop(${vo.startPage - 1})" th:attr="onclick=|goShop('${vo.startPage - 1}')|">
                                            <i class="icon align-middle an an-caret-left" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                    <li class="page-item" th:each="num: ${#numbers.sequence(vo.startPage, vo.endPage)}" th:classappend="${num eq vo.thisPage} ? active : ''">
                                        <a th:attr="onclick=|goShop('${num}')|" th:text="${num}"></a>
                                    </li>
                                    <li class="next page-item" th:if="${vo.endPage ne vo.totalPages}">
                                        <a th:attr="onclick=|goShop('${vo.endPage + 1}')|">
                                            <i class="icon align-middle an an-caret-right" aria-hidden="true"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--End Main Content-->
                    </div>
                </div>
            </div>
            <!--End Body Container-->
        </form>

            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
            <!--End Scoll Top-->

            <!--MiniCart Drawer-->
            <div class="minicart-right-drawer modal right fade" id="minicart-drawer">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div id="cart-drawer" class="block block-cart">
                            <div class="minicart-header">
                                <a href="javascript:void(0);" class="close-cart" data-bs-dismiss="modal" aria-label="Close"><i class="an an-times-r" aria-hidden="true" data-bs-toggle="tooltip" data-bs-placement="left" title="Close"></i></a>
                                <h4 class="fs-6">Your cart (2 Items)</h4>
                            </div>
                            <div class="minicart-content">
                                <ul class="clearfix">
                                    <li class="item d-flex justify-content-center align-items-center">
                                        <a class="product-image" href="product-layout1.html">
                                            <img class="blur-up lazyload" src="assets/images/products/cart-product-img1.jpg" data-src="assets/images/products/cart-product-img1.jpg" alt="image" title="">
                                        </a>
                                        <div class="product-details">
                                            <a class="product-title" href="product-layout1.html">Floral Crop Top</a>
                                            <div class="variant-cart">Black / XL</div>
                                            <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$59.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qtyDetail text-center">
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus-l" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <a href="#" class="edit-i remove"><i class="icon an an-edit-l" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
                                            <a href="#" class="remove"><i class="an an-times-r" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i></a>
                                        </div>
                                    </li>
                                    <li class="item d-flex justify-content-center align-items-center">
                                        <a class="product-image" href="product-layout1.html">
                                            <img class="blur-up lazyload" src="assets/images/products/cart-product-img1.jpg" data-src="assets/images/products/cart-product-img1.jpg" alt="image" title="">
                                        </a>
                                        <div class="product-details">
                                            <a class="product-title" href="product-layout1.html">V Neck T-shirts</a>
                                            <div class="variant-cart">Blue / XL</div>
                                            <div class="priceRow">
                                                <div class="product-price">
                                                    <span class="money">$199.00</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="qtyDetail text-center">
                                            <div class="wrapQtyBtn">
                                                <div class="qtyField">
                                                    <a class="qtyBtn minus" href="javascript:void(0);"><i class="icon an an-minus-r" aria-hidden="true"></i></a>
                                                    <input type="text" name="quantity" value="1" class="qty">
                                                    <a class="qtyBtn plus" href="javascript:void(0);"><i class="icon an an-plus-l" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            <a href="#" class="edit-i remove"><i class="icon an an-edit-l" data-bs-toggle="tooltip" data-bs-placement="top" title="Edit"></i></a>
                                            <a href="#" class="remove"><i class="an an-times-r" data-bs-toggle="tooltip" data-bs-placement="top" title="Remove"></i></a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="minicart-bottom">
                                <div class="shipinfo text-center mb-3 text-uppercase">
                                    <p class="freeShipMsg"><i class="an an-truck fs-5 me-2 align-middle"></i>SPENT <b>$199.00</b> MORE FOR FREE SHIPPING</p>
                                </div>
                                <div class="subtotal">
                                    <span>Total:</span>
                                    <span class="product-price">$93.13</span>
                                </div>
                                <a href="checkout-style1.html" class="w-100 p-2 my-2 btn btn-outline-primary proceed-to-checkout rounded">Proceed to Checkout</a>
                                <a href="cart-style1.html" class="w-100 btn-primary cart-btn rounded">View Cart</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div th:replace="~{peter/include/foot :: foot}"></div>
            <div th:replace="~{peter/include/includePeterCommon :: includePeterCommon}"></div>
            <div th:replace="~{peter/include/includePeterOriginal :: includePeterOriginal}"></div>
        </div>
        <!--End Page Wrapper-->
        <script src="/peter/template/optimal-html/assets/js/JHY/sort.js"></script>
        <script th:inline="javascript">
            initBadge();
        </script>
    </body>
</html>