<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
    <div th:replace="~{peter/include/head :: head}"></div>

            <!--Body Container-->
            <div id="page-content">   
                <!--Collection Banner-->
                <div class="collection-header">
                    <div class="collection-hero">
                        <div class="collection-hero__image"></div>
                        <div class="collection-hero__title-wrapper container">
                            <h1 class="collection-hero__title">주문 / 결제</h1>
                        </div>
                    </div>
                </div>
                <!--End Collection Banner-->

                <!--Main Content-->
                <div class="container-checkout">
                    <div class="card card--grey">
                        <div class="card-body">
                            <form id="form" method="post" action="#" accept-charset="UTF-8" class="needs-validation customer-form" novalidate>
                                <h2 class="fs-4">구매자 정보</h2>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-6">이름</label>
                                        <div class="form-group"><input type="text" th:value="${user.userName}" placeholder="이름" class="form-control" disabled></div>
                                    </div>
                                    <div class="col-6">
                                        <label class="fs-6">이메일</label>
                                        <div class="form-group"><input type="text" th:value="${user.userEmail}" placeholder="이메일" class="form-control" disabled></div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-6">
                                        <label class="fs-6">전화번호</label>
                                        <div class="form-group"><input type="text" th:value="${user.userPhone}" placeholder="전화번호" class="form-control" disabled></div>
                                        <div class="invalid-feedback">
                                            전화번호를 입력해주세요.
                                        </div>
                                    </div>
                                    <!-- <div class="col-6 align-self-center mt-3">
                                        <button type="button" class="collapsed fs-6 btn btn-small rounded text-white" data-bs-toggle="collapse" data-bs-target="#checkout-collapse" aria-expanded="false">수정</button>
                                    </div> -->
                                </div>
                                <div class="row accordion-collapse collapse" id="checkout-collapse" data-bs-parent="#accordionExample">
                                    <div class="col-6">
                                        <div class="form-group">
                                            <label for="CustomerCertification" class="d-none">인증번호<span class="required">*</span></label>
                                            <input id="CustomerCertification" type="text" class="form-control" name="customer[CustomerCertification]" placeholder="인증번호" required />                        	
                                            <div class="invalid-feedback">
                                                인증번호를 입력해주세요.
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <button type="submit" class="fs-6 btn btn-small rounded text-white">인증확인</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card card--grey mt-2">
                        <div class="card-body" id="receiveInfo">
                            <h2 class="fs-4">받는 사람 정보<button type="button" class="fs-6 btn btn-small rounded text-white ms-3" data-bs-toggle="modal" data-bs-target="#select-destination">배송지 변경</button></h2>                            
                            <div class="row">
                                <div class="col-6">
                                    <label class="fs-6">이름</label>
                                    <div class="form-group"><input type="text" th:value="${delivery.deliRecvName}" placeholder="이름" class="form-control" disabled></div>
                                </div>
                                <div class="col-6">
                                    <label class="fs-6">배송주소</label>
                                    <div class="form-group"><input type="text" th:value="${delivery.deliRoadAddr} + ', ' + ${delivery.deliDetailAddr}" placeholder="주소" class="form-control" disabled></div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <label class="fs-6">연락처</label>
                                    <div class="form-group"><input type="text" th:value="${delivery.deliRecvPhone}" placeholder="연락처" class="form-control" disabled></div>
                                </div>
                                <div class="col-6">
                                    <label class="fs-6">배송 요청사항</label>
                                    <div class="form-group"><input type="text" placeholder="요청 사항" class="form-control" th:value="${delivery.deliText}" disabled></div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card--grey mt-2">
                        <div class="card-body">
                            <h2 class="fs-4">판매자배송 상품</h2>
                            <div class="row">
                                <div class="col-8">
                                    <label th:if="${prod.feedIngredient == null}" class="fs-6" th:text="|${@codeService.selectOneCachedCode(prod.feedBrand)} ${prod.prodName}, ${vo.prodCount}개|"></label>
                                    <label th:if="${prod.feedIngredient != null}" class="fs-6" th:text="|${@codeService.selectOneCachedCode(prod.feedBrand)} ${prod.prodName}, ${@codeService.selectOneCachedCode(prod.feedIngredient)}, ${vo.infoWeight}kg, ${vo.prodCount}개|"></label>
                                </div>
                                <div class="col-4">
                                    <label class="fs-6" th:text="|수량 ${vo.prodCount}개|">수량 1개</label>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="card card--grey mt-2">
                        <div class="card-body">
                            <h2 class="fs-4">결제 정보</h2>
                            <div class="d-flex">
                                <label class="fs-6">총 상품 가격 : </label>
                                <label class="fs-6 ms-3" th:text="${#numbers.formatInteger(prod.discountPrice * vo.prodCount,3,'COMMA')} + '원'"></label>
                            </div>
                            <div class="d-flex">
                                <label class="fs-6">배송비 : </label>
                                <label class="fs-6 ms-3">2,500원</label>
                            </div>
                            <div class="d-flex">
                                <label class="fs-6">총 결제 금액 : </label>
                                <label class="fs-6 ms-3" th:text="${#numbers.formatInteger(prod.discountPrice * vo.prodCount + 2500,3,'COMMA')} + '원'"></label>
                            </div>
                        </div>
                    </div>
                    <div class="order-button-payment mt-2 clearfix" onclick="requestPayment()"><a class="cartCheckout fs-6 btn btn-lg rounded w-100 fw-600 text-white">결제하기</a></div>
                </div>
                <!--End Main Content-->
            </div>
            <!--End Body Container-->

            <!--Scoll Top-->
            <span id="site-scroll"><i class="icon an an-chevron-up"></i></span>
            <!--End Scoll Top-->

            <div th:replace="~{peter/include/cart :: cart}"></div>

            <!-- Modal -->
            <div class="modal fade" id="select-destination" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="staticBackdropLabel">배송지 선택</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <div class="card deliver-destination-card" th:each="list : ${list}">
                                <div class="card-body">
                                    <h5 class="card-title" th:text="${list.deliRecvName}"></h5>
                                    <p class="card-text" th:text="${list.deliRoadAddr} + ', ' + ${list.deliDetailAddr}"></p>
                                    <p th:text="${list.deliRecvPhone}"></p>
                                    <p th:text="'요청사항 : ' + ${list.deliText}"></p>
                                    <p th:if="${list.deliMain} == 1">기본 배송지</p>
                                    <div class="row">
                                        <div class="col text-right">
                                            <button type="button" class="fs-6 btn btn-small rounded text-white text-end" th:value="${list.deliSeq}" onclick="selectDelivery(this)">선택</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End MiniCart Drawer-->
            <div th:replace="~{peter/include/foot :: foot}"></div>
            <div th:replace="~{peter/include/includePeterOriginal :: includePeterOriginal}"></div>
            <div th:replace="~{peter/include/includePeterCommon :: includePeterCommon}"></div>
            <script src="/peter/template/optimal-html/assets/js/JHY/delivery.js"></script>
            <script src="https://js.tosspayments.com/v2/standard"></script>
            <script th:inline="javascript">
                getCookie();
                let sessionSeq = /*[[${session.sessSeqPeter}]]*/"";
                window.cache = /*[[${code}]]*/ [];
                // API 개별 테스트 연동 키
                // 토스페이먼츠에 회원가입하기 전이라면 아래 키는 문서 테스트 키입니다.
                // 토스페이먼츠에 회원가입하고 로그인한 상태라면 아래 키는 내 테스트 키입니다.
                const clientKey = "test_ck_yL0qZ4G1VOPWzGv6w0QYroWb2MQY";
                const customerKey = "7_3UlTVNs56z9M53O2-RV";
                const tossPayments = TossPayments(clientKey);

                // 회원 결제
                // @docs https://docs.tosspayments.com/sdk/v2/js#tosspaymentspayment
                const payment = tossPayments.payment({ customerKey });
                // 비회원 결제
                // const payment = tossPayments.payment({customerKey: TossPayments.ANONYMOUS})
                let brand = parseInt(/*[[${prod.feedBrand}]]*/ "0");
                let ingredient = parseInt(/*[[${prod.feedIngredient}]]*/ "0");
                let prodName = /*[[${prod.prodName}]]*/"";
                let infoWeight = /*[[${vo.infoWeight}]]*/"";
                let price = /*[[${prod.discountPrice * vo.prodCount + 2500}]]*/"";
                let quantity = /*[[${vo.prodCount}]]*/"";
                let orderName  = window.cache[brand - 1].codeName + " " + prodName + " " + window.cache[ingredient - 1].codeName + " " + infoWeight + "kg " + quantity + "개";
                let email = /*[[${user.userEmail}]]*/"";
                let userName = /*[[${user.userName}]]*/"";
                let userPhone = /*[[${user.userPhone}]]*/"";

                let now = new Date();
                let serialNum = 
                String(now.getFullYear()).slice(2) + // '25'
                String(now.getMonth() + 1).padStart(2, '0') + // '04'
                String(now.getDate()).padStart(2, '0') + // '29'
                String(now.getHours()).padStart(2, '0') + // '14'
                String(now.getMinutes()).padStart(2, '0') + // '35'
                String(now.getSeconds()).padStart(2, '0'); // '07'
                // ------ '결제하기' 버튼 누르면 결제창 띄우기 ------
                // @docs https://docs.tosspayments.com/sdk/v2/js#paymentrequestpayment
                async function requestPayment() {
                    // 결제를 요청하기 전에 orderId, amount를 서버에 저장하세요.
                    // 결제 과정에서 악의적으로 결제 금액이 바뀌는 것을 확인하는 용도입니다.
                    await payment.requestPayment({
                        method: "CARD", // 카드 결제
                        amount: {
                            currency: "KRW",
                            value: price,
                        },
                        orderId: serialNum, // 고유 주문번호
                        orderName: orderName,
                        successUrl: "http://43.201.16.176:8080/success", // 결제 요청이 성공하면 리다이렉트되는 URL
                        failUrl: "http://43.201.16.176:8080/fail", // 결제 요청이 실패하면 리다이렉트되는 URL
                        customerEmail: email,
                        customerName: userName,
                        customerMobilePhone: userPhone.replace(/-/g, ""),
                        // 카드 결제에 필요한 정보
                        card: {
                            useEscrow: false,
                            flowMode: "DEFAULT", // 통합결제창 여는 옵션
                            useCardPoint: false,
                            useAppCardOnly: false,
                        },
                    });
                }
            </script>
        </div>
        <!--End Page Wrapper-->
    </body>
</html>