<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="filter">
	<th:block  th:if="${vo.prodType} == '1'">
		<input type="hidden" id="prodFuncArray" name="prodFuncArray">
		<input type="hidden" id="prodFuncNameArray" name="prodFuncNameArray">
		<div class="mb-2 row g-3 me-2 ms-2 mt-0">
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedSalaryAge" name="shFeedSalaryAge">
				<option value="" th:selected="${vo.shFeedSalaryAge == null}">급여 연령</option>
				<option th:if="${vo.prodPetType == 239}" th:each="feedSalaryAge : ${@codeService.selectListCachedCode(2)}" th:value="${feedSalaryAge.codeSeq}" th:text="${feedSalaryAge.codeName}" th:selected="${vo.shFeedSalaryAge} == ${feedSalaryAge.codeSeq}"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="feedSalaryAge : ${@codeService.selectListCachedCode(33)}" th:value="${feedSalaryAge.codeSeq}" th:text="${feedSalaryAge.codeName}" th:selected="${vo.shFeedSalaryAge} == ${feedSalaryAge.codeSeq}"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedType" name="shFeedType">
				<option value="" th:selected="${vo.shFeedType == null}">종류</option>
				<option th:if="${vo.prodPetType == 239}" th:each="feedType : ${@codeService.selectListCachedCode(3)}" th:value="${feedType.codeSeq}" th:text="${feedType.codeName}" th:selected="${vo.shFeedType} == ${feedType.codeSeq}"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="feedType : ${@codeService.selectListCachedCode(34)}" th:value="${feedType.codeSeq}" th:text="${feedType.codeName}" th:selected="${vo.shFeedType} == ${feedType.codeSeq}"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedEtc" name="shFeedEtc">
				<option value="" th:selected="${vo.shFeedType == null}">기타</option>
				<option th:if="${vo.prodPetType == 239}" th:each="feedEtc : ${@codeService.selectListCachedCode(4)}" th:value="${feedEtc.codeSeq}" th:text="${feedEtc.codeName}" th:selected="${vo.shFeedEtc} == ${feedEtc.codeSeq}"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="feedEtc : ${@codeService.selectListCachedCode(36)}" th:value="${feedEtc.codeSeq}" th:text="${feedEtc.codeName}" th:selected="${vo.shFeedEtc} == ${feedEtc.codeSeq}"></option>
				</select>
			</div>
			</div>
		</div>
		<div class="mb-2 row g-3 me-2 ms-2">
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedSize" name="shFeedSize">
				<option value="" th:selected="${vo.shFeedSize == null}">크기</option>
				<option th:each="feedSize : ${@codeService.selectListCachedCode(16)}" th:value="${feedSize.codeSeq}" th:text="${feedSize.codeName}" th:selected="${vo.shFeedSize} == ${feedSize.codeSeq}"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:if="${vo.prodPetType == 239}" th:each="prodFunction : ${@codeService.selectListCachedCode(6)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}" th:disabled="${#arrays.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="prodFunction : ${@codeService.selectListCachedCode(35)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}" th:disabled="${#arrays.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedBrand" name="shFeedBrand">
				<option value="" th:selected="${vo.shFeedBrand == null}">브랜드</option>
				<option th:each="feedBrand : ${@codeService.selectListCachedCode(7)}" th:value="${feedBrand.codeSeq}" th:text="${feedBrand.codeName}" th:selected="${vo.shFeedBrand} == ${feedBrand.codeSeq}"></option>
				</select>
			</div>
			</div>
		</div>
		<div class="mb-2 row g-3 me-2 ms-2">
			<div class="col-4">
			<div class="form-group mb-2">
				<select class="form-select-JHY" id="shFeedIngredient" name="shFeedIngredient">
				<option value="" th:selected="${vo.shFeedIngredient == null}">주원료</option>
				<option th:each="feedIngredient : ${@codeService.selectListCachedCode(8)}" th:value="${feedIngredient.codeSeq}" th:text="${feedIngredient.codeName}" th:selected="${vo.shFeedIngredient} == ${feedIngredient.codeSeq}"></option>
				</select>
			</div>
			</div>
		</div>
		<div class="mb-2 row g-3 me-2 ms-2">
			<div class="col" id="createFunction">
			</div>
		</div>
	</th:block>
	<th:block  th:if="${vo.prodType} == '2'">
		<input type="hidden" id="prodFuncArray" name="prodFuncArray">
		<input type="hidden" id="prodFuncNameArray" name="prodFuncNameArray">
		<div class="mb-2 row g-3 me-2 ms-2 mt-0">
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedType" name="shFeedType">
				<option value="" th:selected="${vo.shFeedType == null}">간식종류</option>
				<option th:if="${vo.prodPetType == 239}" th:each="snackType : ${@codeService.selectListCachedCode(17)}" th:value="${snackType.codeSeq}" th:text="${snackType.codeName}" th:selected="${vo.shFeedType} == ${snackType.codeSeq}"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="snackType : ${@codeService.selectListCachedCode(37)}" th:value="${snackType.codeSeq}" th:text="${snackType.codeName}" th:selected="${vo.shFeedType} == ${snackType.codeSeq}"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shSnckFeature" name="shSnckFeature">
				<option value="" th:selected="${vo.shSnckFeature == null}">원료특징</option>
				<option th:each="snckFeature : ${@codeService.selectListCachedCode(18)}" th:value="${snckFeature.codeSeq}" th:text="${snckFeature.codeName}" th:selected="${vo.shSnckFeature} == ${snckFeature.codeSeq}"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group mb-2">
				<select class="form-select-JHY" id="shFeedIngredient" name="shFeedIngredient">
				<option value="" th:selected="${vo.shFeedIngredient == null}">주원료</option>
				<option th:each="snackIngredient : ${@codeService.selectListCachedCode(8)}" th:value="${snackIngredient.codeSeq}" th:text="${snackIngredient.codeName}" th:selected="${vo.shFeedIngredient} == ${snackIngredient.codeSeq}"></option>
				</select>
			</div>
			</div>
		</div>
		<div class="mb-2 row g-3 me-2 ms-2">
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:if="${vo.prodPetType == 239}" th:each="prodFunction : ${@codeService.selectListCachedCode(6)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}" th:disabled="${#arrays.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
				<option th:if="${vo.prodPetType == 240}" th:each="prodFunction : ${@codeService.selectListCachedCode(35)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}" th:disabled="${#arrays.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
				</select>
			</div>
			</div>
			<div class="col-4">
			<div class="form-group">
				<select class="form-select-JHY" id="shFeedBrand" name="shFeedBrand">
				<option value="" th:selected="${vo.shFeedBrand == null}">브랜드</option>
				<option th:each="snackBrand : ${@codeService.selectListCachedCode(21)}" th:value="${snackBrand.codeSeq}" th:text="${snackBrand.codeName}" th:selected="${vo.shFeedBrand} == ${snackBrand.codeSeq}"></option>
				</select>
			</div>
			</div>
		</div>
		<div class="mb-2 row g-3 me-2 ms-2">
			<div class="col" id="createFunction">
			</div>
		</div>
	</th:block>

	<th:block  th:if="${vo.prodType} == '3'">
		<div class="mb-2 row g-3 me-2 ms-2 mt-0">
			<div class="col-4">
				<div class="form-group">
					<select class="form-select-JHY" id="shFeedType" name="shFeedType" onchange="changeSupply(this)">
					<option value="" th:selected="${vo.shFeedType == null}">용품종류</option>
					<option th:if="${vo.prodPetType == 239}" th:each="snackType : ${@codeService.selectListCachedCode(38)}" th:value="${snackType.codeSeq}" th:text="${snackType.codeName}" th:selected="${vo.shFeedType} == ${snackType.codeSeq}"></option>
					<option th:if="${vo.prodPetType == 240}" th:each="snackType : ${@codeService.selectListCachedCode(109)}" th:value="${snackType.codeSeq}" th:text="${snackType.codeName}" th:selected="${vo.shFeedType} == ${snackType.codeSeq}"></option>
					</select>
				</div>
			</div>
		</div>
		<div class="mb-4 row g-3 me-2 ms-2" id="supply">
			<div th:replace="~{xdm/include/supplies :: supplies}"></div>
		</div>
	</th:block>
</th:block>