<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="includeXdmForm">
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script th:inline="javascript" src="/xdm/template/falcon-v3.23.0/assets/js/validation.js"></script>
<script th:inline="javascript" src="/xdm/template/falcon-v3.23.0/assets/js/register.js"></script>
<script th:inline="javascript" src="/xdm/template/falcon-v3.23.0/assets/js/delete.js"></script>
</th:block>