<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="suppliesForm">
	<th:block th:if="${vo.feedType == null}"></th:block>

	<th:block th:if="${vo.feedType == 305}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(42)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSound" id="prodSound">
				<option value="">소리</option>
				<option th:each="prodSound : ${@codeService.selectListCachedCode(43)}" th:value="${prodSound.codeSeq}" th:text="${prodSound.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(44)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(62)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 306}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(39)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(40)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(41)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(63)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 307}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(46)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFormulation" id="prodFormulation">
				<option value="">제형</option>
				<option th:each="prodFormulation : ${@codeService.selectListCachedCode(47)}" th:value="${prodFormulation.codeSeq}" th:text="${prodFormulation.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(48)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(64)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 308}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(49)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(50)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(51)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(65)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 309}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(52)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategoryType" id="prodCategoryType">
				<option value="">종류</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(53)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(54)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(55)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(66)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 310}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(56)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(57)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(67)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 311}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(42)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(58)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSound" id="prodSound">
				<option value="">소리</option>
				<option th:each="prodSound : ${@codeService.selectListCachedCode(43)}" th:value="${prodSound.codeSeq}" th:text="${prodSound.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 312}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(59)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 313}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(60)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(61)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 314}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(68)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<input class="form-control-JHY" name="prodWidth" id="prodWidth" placeholder="크기(가로 : mm)" type="text" />
		</div>
		<div class="col-3">
			<input class="form-control-JHY" name="prodLength" id="prodLength" placeholder="크기(세로 : mm)" type="text" />
		</div>
		<div class="col-3">
			<input class="form-control-JHY" name="prodHeight" id="prodHeight" placeholder="크기(높이 : mm)" type="text" />
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(73)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(72)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 315}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(74)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(76)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(75)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 316}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(77)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(80)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(78)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategoryType" id="prodCategoryType">
				<option value="">종류</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(79)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 317}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(81)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(84)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(82)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategoryType" id="prodCategoryType">
				<option value="">종류</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(83)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 318}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(85)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(86)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 319}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(87)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(89)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(88)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 320}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(90)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(91)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 321}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(92)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(95)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategoryType" id="prodCategoryType">
				<option value="">형태</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(93)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodSmell" id="prodSmell">
				<option value="">향</option>
				<option th:each="prodSmell : ${@codeService.selectListCachedCode(94)}" th:value="${prodSmell.codeSeq}" th:text="${prodSmell.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 322}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(96)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(97)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 323}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(98)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(101)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodWearMethod" id="prodWearMethod">
				<option value="">착용 방법</option>
				<option th:each="prodWearMethod : ${@codeService.selectListCachedCode(99)}" th:value="${prodWearMethod.codeSeq}" th:text="${prodWearMethod.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(100)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 324}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(102)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(103)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodColor" id="prodColor">
				<option value="">색상</option>
				<option th:each="prodColor : ${@codeService.selectListCachedCode(45)}" th:value="${prodColor.codeSeq}" th:text="${prodColor.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 325}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(104)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 326}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(105)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>

	<th:block th:if="${vo.feedType == 327}">
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="feedBrand" id="feedBrand">
				<option value="">브랜드</option>
				<option th:each="prodBrand : ${@codeService.selectListCachedCode(106)}" th:value="${prodBrand.codeSeq}" th:text="${prodBrand.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodCategory" id="prodCategory">
				<option value="">유형</option>
				<option th:each="prodType : ${@codeService.selectListCachedCode(108)}" th:value="${prodType.codeSeq}" th:text="${prodType.codeName}"></option>
			  </select>
			</div>
		</div>
		<div class="col-3">
			<div class="form-group">
			  <select class="form-select-JHY" name="prodFunction" id="prodFunction">
				<option value="">기능</option>
				<option th:each="prodFunction : ${@codeService.selectListCachedCode(107)}" th:value="${prodFunction.codeSeq}" th:text="${prodFunction.codeName}"></option>
			  </select>
			</div>
		</div>
	</th:block>
</th:block>