<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="foot">
            <!--Footer-->
            <div class="footer footer-1">
                <div class="footer-top clearfix">
                    <div class="container">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 text-center about-col mb-4">
                                <img src="/peter/template/optimal-html/assets/images/logo_merge.png" alt="Optimal" class="mb-3" style="background-color: gray;"/>
                                <p class="mb-0 mb-md-3">Phone: <a href="tel:01064358224">(+82) 010 6435 8224</a> <span class="mx-1">|</span> Email: <a href="mailto:gksdyd009@naver.com">gksdyd009@naver.com</a></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 footer-links">
                                <h4 class="h4">Informations</h4>
                                <ul>
                                    <li>(주)피터펫 | 대표이사 : 정한용</li>
                                    <li>서울특별시 노원구 동일로 207길 18</li>
                                    <li><a href="privacy-policy.html">이용약관</a></li>
                                    <li><a href="privacy-policy.html">개인정보처리방침침</a></li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-4 footer-links">
                                <h4 class="h4">이용 시간</h4>
                                <ul>
                                    <li><b>평일</b> 10:00 ~ 17:00</li>
                                    <li><b>점심시간</b> 12:00 ~ 13:00</li>
                                    <li><b>고객센터</b> 토,일/공휴일 휴무</li>
                                    <li><b>택배출고</b> 평일 17시, 토요일 12시까지</li>
                                </ul>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-4 newsletter-col">
                                <div class="display-table pt-md-3 pt-lg-0">
                                    <div class="display-table-cell footer-newsletter">
                                        <form action="#" method="post">
                                            <label class="h4">NEWSLETTER SIGN UP</label>
                                            <p>Enter Your Email To Receive Daily News And Get 20% Off Coupon For All Items.</p>
                                            <div class="input-group">
                                                <input type="email" class="brounded-start input-group__field newsletter-input mb-0" name="EMAIL" value="" placeholder="Email address" required>
                                                <span class="input-group__btn">
                                                    <button type="submit" class="btn newsletter__submit rounded-end" name="commit" id="Subscribe"><i class="an an-envelope-l"></i></button>
                                                </span>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <ul class="list-inline social-icons mt-3 pt-1">
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Facebook"><i class="an an-facebook" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Twitter"><i class="an an-twitter" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Pinterest"><i class="an an-pinterest-p" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Instagram"><i class="an an-instagram" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="TikTok"><i class="an an-tiktok" aria-hidden="true"></i></a></li>
                                    <li class="list-inline-item"><a href="#" data-bs-toggle="tooltip" data-bs-placement="top" title="Whatsapp"><i class="an an-whatsapp" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer-bottom clearfix">
                    <div class="container">
                        <div class="d-flex-center flex-column justify-content-md-between flex-md-row-reverse">
                            <img src="/peter/template/optimal-html/assets/images/payment.png" alt="Paypal Visa Payments"/>
                            <div class="copytext text-uppercase">&copy; 2025 피터펫. All Rights Reserved.</div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End Footer-->

            <!-- Including Jquery -->
            <script src="/peter/template/optimal-html/assets/js/vendor/jquery-min.js"></script>
            <script src="/peter/template/optimal-html/assets/js/vendor/js.cookie.js"></script>
            <!--Including Javascript-->
            <script src="/peter/template/optimal-html/assets/js/plugins.js"></script>
            <script src="/peter/template/optimal-html/assets/js/main.js"></script>
            <script src="https://kit.fontawesome.com/8cac957ca3.js" crossorigin="anonymous"></script>
            <script src="/peter/template/optimal-html/assets/js/JHY/jhy.js"></script>
            <!-- Photoswipe Gallery -->
            <script src="/peter/template/optimal-html/assets/js/vendor/photoswipe.min.js"></script>

        </div>
        <!--End Page Wrapper-->
    </body>
</html>
</th:block>