<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="head">
<head>
    <!--Required Meta Tags-->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="description">
    <!-- Title Of Site -->
    <title>피터펫</title>
    <!-- Favicon -->
    <link rel="shortcut icon" href="/peter/template/optimal-html/assets/images/kitties.png" />
    <!-- Plugins CSS -->
    <link rel="stylesheet" href="/peter/template/optimal-html/assets/css/plugins.css" />
    <!-- Main Style CSS -->
    <link rel="stylesheet" href="/peter/template/optimal-html/assets/css/style.css" />
    <link rel="stylesheet" href="/peter/template/optimal-html/assets/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.min.css"/>
    <!-- JHY Style CSS -->
    <link rel="stylesheet" href="/peter/template/optimal-html/assets/css/JHY/jhy.css" />
</head>

<body class="shop-listing shop-left-sidebar">
    <!-- Page Loader -->
    <div id="pre-loader"><img src="/peter/template/optimal-html/assets/images/loader.gif" alt="Loading..." /></div>
    <!-- End Page Loader -->

    <!--Page Wrapper-->
    <div class="page-wrapper falling-snow style1">
        <!--Header-->
        <div id="header" class="header">
            <div class="header-main">
                <header class="header-wrap container d-flex align-items-center">
                    <div class="row g-0 align-items-center w-100">
                        <!--Social Icons-->
                        <div class="col-4 col-sm-4 col-md-4 col-lg-5 d-none d-lg-block">
                            <ul class="social-icons list-inline">
                                <li class="list-inline-item"><a href="#"><i class="an an-facebook" aria-hidden="true"></i><span class="tooltip-label">Facebook</span></a></li>
                                <li class="list-inline-item"><a href="#"><i class="an an-twitter" aria-hidden="true"></i><span class="tooltip-label">Twitter</span></a></li>
                                <li class="list-inline-item"><a href="#"><i class="an an-pinterest-p" aria-hidden="true"></i><span class="tooltip-label">Pinterest</span></a></li>
                                <li class="list-inline-item"><a href="#"><i class="an an-instagram" aria-hidden="true"></i><span class="tooltip-label">Instagram</span></a></li>
                                <li class="list-inline-item"><a href="#"><i class="an an-tiktok" aria-hidden="true"></i><span class="tooltip-label">TikTok</span></a></li>
                                <li class="list-inline-item"><a href="#"><i class="an an-whatsapp" aria-hidden="true"></i><span class="tooltip-label">Whatsapp</span></a></li>
                            </ul>
                        </div>
                        <!--End Social Icons-->
                        <!--Logo / Menu Toggle-->
                        <div class="col-6 col-sm-6 col-md-6 col-lg-2 d-flex">
                            <!--Mobile Toggle-->
                            <button type="button" class="btn--link site-header__menu js-mobile-nav-toggle mobile-nav--open me-3 d-lg-none"><i class="icon an an-times-l"></i><i class="icon an an-bars-l"></i></button>
                            <!--End Mobile Toggle-->
                            <!--Logo-->
                            <div class="logo mx-lg-auto"><a href="/peter/index/IndexPeterView"><img class="logo-img" src="/peter/template/optimal-html/assets/images/peterpet.png" alt="Optimal Multipurpose eCommerce Bootstrap 5 Html Template" title="Optimal Multipurpose eCommerce Bootstrap 5 Html Template" /><span class="logo-txt d-none">Optimal</span></a></div>
                            <!--End Logo-->
                        </div>
                        <!--End Logo / Menu Toggle-->
                        <!--Right Action-->
                        <div class="col-6 col-sm-6 col-md-6 col-lg-5 icons-col text-right d-flex justify-content-end">
                            <!--Search-->
                            <div class="site-search iconset"><i class="icon an an-search-l"></i><span class="tooltip-label">Search</span></div>
                            <!--End Search-->
                            <!--Wishlist-->
                            <div class="wishlist-link iconset">
                                <a href="/peter/member/MyAccountPeterForm?wish=1"><i class="icon an an-heart-l"></i><span class="wishlist-count counter d-flex-center justify-content-center position-absolute translate-middle rounded-circle" th:text="${session.sessWishPeter != null ? session.sessWishPeter : 0}"></span><span class="tooltip-label">Wishlist</span></a>
                            </div>
                            <!--End Wishlist-->
                            <!--Setting Dropdown-->
                            <div class="user-link iconset"><i class="icon an an-user-expand"></i><span class="tooltip-label">Account</span></div>
                            <div id="userLinks">
                                <ul class="user-links">
                                    <li><a href="/peter/member/MyAccountPeterForm" th:if="${session.sessSeqPeter} != null"><span class="an an-user-expand me-2"></span><span th:text="${session.sessIdPeter}"></span></a></li>
                                    <li><a href="/peter/member/LoginPeterForm" th:if="${session.sessSeqPeter} == null">로그인</a></li>
                                    <li><a href="/peter/member/SignupPeterForm" th:if="${session.sessSeqPeter} == null">회원가입</a></li>
                                    <li><a href="javascript:void(0);" id="btnLogout" th:if="${session.sessSeqPeter} != null">로그아웃</a></li>
                                </ul>
                            </div>
                            <!--End Setting Dropdown-->
                            <!--Minicart Drawer-->
                            <div class="header-cart iconset">
                                <a href="cart-style1.html" class="site-header__cart btn-minicart" data-bs-toggle="modal" data-bs-target="#minicart-drawer">
                                    <i class="icon an an-sq-bag"></i><span class="site-cart-count counter d-flex-center justify-content-center position-absolute translate-middle rounded-circle">2</span><span class="tooltip-label">Cart</span>
                                </a>
                            </div>
                            <!--End Minicart Drawer-->
                        </div>
                        <!--End Right Action-->
                    </div>
                </header>
                <!--Main Navigation Desktop-->
                <div class="menu-outer">
                    <nav class="container">
                        <div class="row">
                            <div class="col-1 col-sm-12 col-md-12 col-lg-12 align-self-center d-menu-col">
                                <!--Desktop Menu-->
                                <nav class="grid__item" id="AccessibleNav">
                                    <ul id="siteNav" class="site-nav medium center hidearrow">
                                        <li class="lvl1 parent megamenu"><a href="/peter/index/IndexPeterView">Home <i class="an an-angle-down-l"></i></a></li>
                                        <li class="lvl1 parent dropdown"><a href="#">Shop <i class="an an-angle-down-l"></i></a>
                                            <ul class="dropdown">
                                                <li><a th:href="@{/peter/shop/ShopPeterList(prodType=1)}" class="site-nav"><i class="fa-solid fa-bowl-rice" style="color: palevioletred;"></i>&ensp;사료</a></li>
                                                <li><a th:href="@{/peter/shop/ShopPeterList(prodType=2)}" class="site-nav"><i class="fa-solid fa-cookie" style="color: palevioletred;"></i>&ensp;간식</a></li>
                                                <li><a th:href="@{/peter/shop/ShopPeterList(prodType=3)}" class="site-nav"><i class="fa-solid fa-toolbox" style="color: palevioletred;"></i>&ensp;용품</a></li>
                                            </ul>
                                        </li>
                                        <!-- <li class="lvl1 parent dropdown"><a href="#">Pet Care<i class="an an-angle-down-l"></i></a>
                                            <ul class="dropdown">
                                                <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-hand-holding-heart" style="color: palevioletred;"></i>&ensp;품앗이 이웃 찾기</a></li>
                                                <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-handshake-angle" style="color: palevioletred;"></i>&ensp;이웃 시터 찾기</a></li>
                                                <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-dog" style="color: palevioletred;"></i>&ensp;산책친구 찾기</a></li>
                                                <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-triangle-exclamation" style="color: palevioletred;"></i>&ensp;실종 신고</a></li>
                                            </ul>
                                        </li> -->
                                        <li class="lvl1 parent dropdown"><a href="/peter/member/MyAccountPeterForm">My Pages <i class="an an-angle-down-l"></i></a></li>
                                    </ul>
                                </nav>
                                <!--End Desktop Menu-->
                            </div>
                        </div>
                    </nav>
                </div>
                <!--End Main Navigation Desktop-->
                <!--Search Popup-->
                <div id="search-popup" class="search-drawer">
                    <div class="container">
                        <span class="closeSearch an an-times-l"></span>
                        <label class="label"><span>Search</span></label>
                        <div class="control">
                            <div class="searchField">
                                <div class="search-category">
                                    <select id="rgsearch-category" name="rgsearch[category]" data-default="All Categories">
                                        <option value="00" label="All Categories" selected="selected">All Categories</option>
                                        <optgroup id="rgsearch-shop" label="Shop">
                                            <option th:each="productType : ${@codeService.selectListCachedCode(1)}" th:text="${productType.codeName}" th:value="${productType.codeSeq}"></option>
                                        </optgroup>
                                    </select>
                                </div>
                                <div class="input-box">
                                    <button type="button" title="Search" class="action search" id="searchProd"><i class="icon an an-search-l"></i></button>
                                    <input type="text" name="q" value="" placeholder="Search by keyword or #" class="input-text">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--End Search Popup-->
            </div>
        </div>
        <!--End Header-->
        <!--Mobile Menu-->
        <div class="mobile-nav-wrapper" role="navigation">
            <div class="closemobileMenu"><i class="icon an an-times-l pull-right"></i> Close Menu</div>
            <ul id="MobileNav" class="mobile-nav">
                <li class="lvl1 parent megamenu"><a href="/peter/index/IndexPeterView">Home</a></li>
                <li class="lvl1 parent megamenu"><a href="#">Shop <i class="an an-plus-l"></i></a>
                    <ul>
                        <li><a th:href="@{/peter/shop/ShopPeterList(prodType=1)}" class="site-nav"><i class="fa-solid fa-bowl-rice" style="color: palevioletred;"></i>&ensp;사료</a></li>
                        <li><a th:href="@{/peter/shop/ShopPeterList(prodType=2)}" class="site-nav"><i class="fa-solid fa-cookie" style="color: palevioletred;"></i>&ensp;간식</a></li>
                        <li><a th:href="@{/peter/shop/ShopPeterList(prodType=3)}" class="site-nav"><i class="fa-solid fa-toolbox" style="color: palevioletred;"></i>&ensp;용품</a></li>
                    </ul>
                </li>
                <!-- <li class="lvl1 parent megamenu"><a href="#">Pet Care <i class="an an-plus-l"></i></a>
                    <ul>
                        <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-hand-holding-heart" style="color: palevioletred;"></i>&ensp;품앗이 이웃 찾기</a></li>
                        <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-handshake-angle" style="color: palevioletred;"></i>&ensp;이웃 시터 찾기</a></li>
                        <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-dog" style="color: palevioletred;"></i>&ensp;산책친구 찾기</a></li>
                        <li><a href="shop-feedstuff.html" class="site-nav"><i class="fa-solid fa-triangle-exclamation" style="color: palevioletred;"></i>&ensp;실종 신고</a></li>
                    </ul>
                </li> -->
                <li class="lvl1 parent megamenu"><a href="/peter/member/MyAccountPeterForm">My Pages</a></li>
                <li class="lvl1 parent megamenu"></li>
            </ul>
        </div>
        <!--End Mobile Menu-->
    </th:block>