<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="includePeterCommon">
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<script src="/peter/template/optimal-html/assets/js/JHY/constant.js"></script>
<script src="/peter/template/optimal-html/assets/js/JHY/validation.js"></script>
<script src="/peter/template/optimal-html/assets/js/JHY/common.js"></script>
<script src="/peter/template/optimal-html/assets/js/JHY/pagination.js"></script>
</th:block>