<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="includePeterOriginal">
<!-- ===============================================-->
<!--    JavaScripts-->
<!-- ===============================================-->
<!-- Including Jquery -->
<script src="/peter/template/optimal-html/assets/js/vendor/jquery-min.js"></script>
<script src="/peter/template/optimal-html/assets/js/vendor/js.cookie.js"></script>
<!--Including Javascript-->
<script src="/peter/template/optimal-html/assets/js/plugins.js"></script>
<script src="/peter/template/optimal-html/assets/js/main.js"></script>
<script src="https://kit.fontawesome.com/8cac957ca3.js" crossorigin="anonymous"></script>
<script src="/peter/template/optimal-html/assets/js/JHY/jhy.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-datetimepicker/2.5.20/jquery.datetimepicker.full.min.js"></script>
<!-- Photoswipe Gallery -->
<script src="/peter/template/optimal-html/assets/js/vendor/photoswipe.min.js"></script>
<script>
    jQuery.datetimepicker.setLocale('ko');
    jQuery('#userBirth, #petBirth').datetimepicker({
        timepicker:false,
        format:'Y-m-d'
    });
</script>
</th:block>