<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

	<div th:replace="~{xdm/include/head :: head}"></div>
          <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(/xdm/template/falcon-v3.23.0/assets/img/icons/spot-illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h1>펫 상품 등록</h1>
            </div>
            <div class="card-body bg-body-tertiary">
              <!-- <form class="needs-validation" novalidate action="/xdm/product/ProductXdmInst" method="post" id="product-form"> -->
                <div class="row g-3">
                  <div class="col-3">
                    <label class="form-label-JHY" for="prodType">상품 유형<span style="color: red;">*</span></label>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <div class="col-3">
                    <select class="form-select-JHY" name="prodType" id="prodType"  onchange="changeProductType()">
                      <option th:each="productType : ${productType}" th:text="${productType.codeName}" th:value="${productType.codeSeq}"></option>
                    </select>
                  </div>
                </div>
                <div class="card border h-100 border-primary mb-3" id="feedFilter">
                  <div class="row g-3 mt-0 ms-2 me-2">
                    <div class="col-3">
                      <label class="form-label-JHY" for="pordSeq">사료 코드<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-3">
                      <label class="form-label-JHY" for="feedName">사료 이름<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-3">
                      <label class="form-label-JHY" for="prodUseFlag">사용여부<span style="color: red;">*</span></label>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <input class="form-control-JHY" name="prodSeq" id="prodSeq" type="text" placeholder="자동생성" readonly />
                    </div>
                    <div class="col-3">
                      <input class="form-control-JHY" name="feedName" id="feedName" type="text" />
                    </div>
                    <div class="col-3">
                      <select class="form-select-JHY" id="prodUseFlag" name="prodUseFlag" required="">
                        <option selected="selected" value="">선택하세요</option>
                        <option value="1">사용</option>
                        <option value="0">미사용</option>
                      </select>
                      <div class="invalid-feedback">Please select a valid state.</div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedSalaryAge" name="feedSalaryAge">
                          <option>급여 연령</option>
                          <option th:each="feedSalaryAge : ${feedSalaryAge}" th:value="${feedSalaryAgeStat.count}" th:text="${feedSalaryAge.codeName}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedType" name="feedType">
                          <option>종류</option>
                          <option th:each="feedType : ${feedType}" th:value="${feedTypeStat.count}" th:text="${feedType.codeName}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedEtc" name="feedEtc">
                          <option>기타</option>
                          <option th:each="feedEtc : ${feedEtc}" th:value="${feedEtcStat.count}" th:text="${feedEtc.codeName}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedSize" name="feedSize">
                          <option>크기</option>
                          <option th:each="feedSize : ${feedSize}" th:value="${feedSizeStat.count}" th:text="${feedSize.codeName}"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedFunction" name="feedFunction">
                          <option>기능</option>
                          <option th:each="feedFunction : ${feedFunction}" th:value="${feedFunction.codeSeq}" th:text="${feedFunction.codeName}" th:attr="onchange=|selectFeature()|"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="multiple-select">
                          <option>브랜드</option>
                          <option th:each="feedBrand : ${feedBrand}" th:value="${feedBrand.codeSeq}" th:text="${feedBrand.codeName}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group mb-2">
                        <select class="form-select-JHY" id="multiple-select">
                          <option>주원료</option>
                          <option th:each="feedIngredient : ${feedIngredient}" th:value="${feedIngredient.codeSeq}" th:text="${feedIngredient.codeName}"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-1" id="selectFunction">
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <div class="col">
                    <a href="/xdm/product/ProductXdmList"><button class="btn btn-outline-dark btn-sm" type="button"><span class="fas fa-list-ul"></span></button></a>
                  </div>
                  <div class="col" style="text-align: right;">
                    <button class="btn btn-primary btn-sm" type="button" id="btnSubmit"><span class="fas fa-database"></span></button>
                  </div>
                </div>
                <input type="hidden" name="cogrRegDate" id="cogrRegDate" >
                <input type="hidden" name="cogrModDate" id="cogrModDate" >
              </form>
            </div>
          </div>
          <div th:replace="~{xdm/include/footer :: footer}"><div>
        </div>
      </div>
    </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
  <script type="text/javascript">
    document.getElementById("btnSubmit").onclick = function() {
      let today = new Date();
      let year = today.getFullYear();
      let month = (today.getMonth() + 1).toString().padStart(2, '0');
      let day = today.getDate().toString().padStart(2, '0');
      
      let date = year + month + day;
      
      document.getElementById("cogrRegDate").value = date;
      document.getElementById("cogrModDate").value = date;
      
      if (document.getElementById("cogrNum").value === "") {
        document.getElementById("cogrNum").value = document.getElementById("cogrSeq").value;
      } else {
        // by pass
      }
      
      document.getElementById("code-group-form").submit();
    }
  </script>
  <div th:replace="~{xdm/include/includeXdmForm :: includeXdmForm}"></div>
  <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
  </body>
  
  </html>