<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

	<div th:replace="~{xdm/include/head :: head}"></div>
          <div class="card mb-3">
            <div class="bg-holder d-none d-lg-block bg-card" style="background-image:url(/xdm/template/falcon-v3.23.0/assets/img/icons/spot-illustrations/corner-4.png);">
            </div>
            <!--/.bg-holder-->
          </div>
          <div class="card mb-3">
            <div class="card-header">
              <h1>펫 상품 등록</h1>
            </div>
            <div class="card-body bg-body-tertiary">
              <form class="needs-validation" novalidate id="product-form" name="product-form">
                <input type="hidden" name="registerOrModifyFlag" id="registerOrModifyFlag" th:value="${vo.registerOrModifyFlag}">
                <input type="hidden" name="prodPetType" id="prodPetType" th:value="${item.prodPetType}">
                <div class="row g-3">
                  <div class="col-3">
                    <label class="form-label-JHY" for="prodType">상품 유형<span style="color: red;">*</span></label>
                  </div>
                  <div class="col-3">
                    <label class="form-label-JHY" for="prodType">반려동물 유형<span style="color: red;">*</span></label>
                  </div>
                </div>
                <div class="mb-3 row g-3">
                  <div class="col-3">
                    <select class="form-select-JHY" name="prodType" id="prodType" onchange="changeProductType('product-form', URL_PRODUCT_XDM_FORM)" th:disabled="${vo.registerOrModifyFlag != 1} ? 'disabled' : null">
                      <option th:each="productType : ${@codeService.selectListCachedCode(1)}" th:text="${productType.codeName}" th:value="${productType.codeSeq}" th:selected="${vo.prodType} == ${productType.codeSeq}"></option>
                    </select>
                  </div>
                  <div class="col-3 d-flex">
                    <div class="form-check">
                      <input class="form-check-input" id="dog" type="radio" name="petType" value="239" onchange="changePet(this)" />
                      <label class="form-check-label" for="dog">강아지</label>
                    </div>
                    <div class="form-check ms-3">
                      <input class="form-check-input" id="cat" type="radio" name="petType" value="240" onchange="changePet(this)" />
                      <label class="form-check-label" for="cat">고양이</label>
                    </div>
                  </div>
                </div>
                <div class="card border h-100 border-primary mb-3" id="changeForm" th:if="${vo.prodType} == '1'">
                  <input type="hidden" id="prodFuncArray" name="prodFuncArray" th:value="${vo.prodFuncArray}">
                  <input type="hidden" id="prodFuncNameArray" name="prodFuncNameArray" th:value="${vo.prodFuncNameArray}" disabled>
                  <input type="hidden" id="feedPriceArray" name="feedPriceArray" th:value="${vo.feedPriceArray}">
                  <input type="hidden" id="feedWeightArray" name="feedWeightArray" th:value="${vo.feedWeightArray}">
                  <input type="hidden" id="feedDiscountArray" name="feedDiscountArray" th:value="${vo.feedDiscountArray}">
                  <input type="hidden" id="prodFuncSeqArray" name="prodFuncSeqArray" th:value="${vo.prodFuncSeqArray}">
                  <input type="hidden" id="feedInfoSeqArray" name="feedInfoSeqArray" th:value="${vo.feedInfoSeqArray}">
                  <div class="row g-3 mt-0 ms-2 me-2">
                    <div class="col-3">
                      <label class="form-label-JHY" for="pordSeq">사료 코드<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-3">
                      <label class="form-label-JHY" for="prodName">사료 이름<span style="color: red;">*</span></label>
                    </div>
                    <div class="col-3">
                      <label class="form-label-JHY" for="prodUseFlag">사용여부<span style="color: red;">*</span></label>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <input class="form-control-JHY" name="prodSeq" id="prodSeq" th:value="${item.prodSeq}" type="text" placeholder="자동생성" readonly />
                    </div>
                    <div class="col-3">
                      <input class="form-control-JHY" name="prodName" id="prodName" th:value="${item.prodName}" type="text" />
                      <div class="invalid-feedback" id="prodNameValid">이름을 입력해주세요.</div>
                    </div>
                    <div class="col-3">
                      <select class="form-select-JHY" id="prodUseFlag" name="prodUseFlag" required="">
                        <option value="">선택하세요</option>
                        <option value="1" th:selected="${item.prodUseFlag} == '1'">사용</option>
                        <option value="0" th:selected="${item.prodUseFlag} == '0'">미사용</option>
                      </select>
                      <div class="invalid-feedback" id="prodUseFlagValid">사용 여부를 선택해주세요.</div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedSalaryAge" name="feedSalaryAge">
                          <option value="">급여 연령</option>
                          <option th:if="${item.prodPetType == 239}" th:each="feedSalaryAge : ${@codeService.selectListCachedCode(2)}" th:selected="${item.feedSalaryAge} == ${feedSalaryAge.codeSeq}" th:text="${feedSalaryAge.codeName}" th:value="${feedSalaryAge.codeSeq}"></option>
                          <option th:if="${item.prodPetType == 240}" th:each="feedSalaryAge : ${@codeService.selectListCachedCode(33)}" th:selected="${item.feedSalaryAge} == ${feedSalaryAge.codeSeq}" th:text="${feedSalaryAge.codeName}" th:value="${feedSalaryAge.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedType" name="feedType">
                          <option value="">종류</option>
                          <option th:if="${item.prodPetType == 239}" th:each="feedType : ${@codeService.selectListCachedCode(3)}" th:selected="${item.feedType} == ${feedType.codeSeq}" th:text="${feedType.codeName}" th:value="${feedType.codeSeq}"></option>
                          <option th:if="${item.prodPetType == 240}" th:each="feedType : ${@codeService.selectListCachedCode(34)}" th:selected="${item.feedType} == ${feedType.codeSeq}" th:text="${feedType.codeName}" th:value="${feedType.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedEtc" name="feedEtc">
                          <option value="">기타</option>
                          <option th:if="${item.prodPetType == 239}" th:each="feedEtc : ${@codeService.selectListCachedCode(4)}" th:selected="${item.feedEtc} == ${feedEtc.codeSeq}" th:text="${feedEtc.codeName}" th:value="${feedEtc.codeSeq}"></option>
                          <option th:if="${item.prodPetType == 240}" th:each="feedEtc : ${@codeService.selectListCachedCode(36)}" th:selected="${item.feedEtc} == ${feedEtc.codeSeq}" th:text="${feedEtc.codeName}" th:value="${feedEtc.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedSize" name="feedSize">
                          <option value="">크기</option>
                          <option th:each="feedSize : ${@codeService.selectListCachedCode(16)}" th:selected="${item.feedSize} == ${feedSize.codeSeq}" th:text="${feedSize.codeName}" th:value="${feedSize.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" name="prodFunction" id="prodFunction">
                          <option value="">기능</option>
                          <option th:if="${item.prodPetType == 239}" th:each="prodFunction : ${@codeService.selectListCachedCode(6)}" th:text="${prodFunction.codeName}" th:value="${prodFunction.codeSeq}" th:disabled="${#strings.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
                          <option th:if="${item.prodPetType == 240}" th:each="prodFunction : ${@codeService.selectListCachedCode(35)}" th:text="${prodFunction.codeName}" th:value="${prodFunction.codeSeq}" th:disabled="${#strings.contains(vo.prodFuncArray, prodFunction.codeSeq)} ? 'disabled' : null"></option>
                        </select>
                        <input type="hidden" name="prodFunction" id="prodFunction" value="0">
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group">
                        <select class="form-select-JHY" id="feedBrand" name="feedBrand">
                          <option value="">브랜드</option>
                          <option th:each="feedBrand : ${@codeService.selectListCachedCode(7)}" th:selected="${item.feedBrand} == ${feedBrand.codeSeq}" th:text="${feedBrand.codeName}" th:value="${feedBrand.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="form-group mb-2">
                        <select class="form-select-JHY" id="feedIngredient" name="feedIngredient">
                          <option value="">주원료</option>
                          <option th:each="feedIngredient : ${@codeService.selectListCachedCode(8)}" th:selected="${item.feedIngredient} == ${feedIngredient.codeSeq}" th:text="${feedIngredient.codeName}" th:value="${feedIngredient.codeSeq}"></option>
                        </select>
                      </div>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col" id="createFunction">
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col-3">
                      <div class="input-group">
                        <input class="form-control fs-11" style="text-align: right;" type="text" id="feedPrice" name="feedPrice" placeholder="가격" aria-describedby="basic-addon2" /><span class="input-group-text fs-11" id="basic-addon2">원</span>
                        <div class="invalid-feedback" id="feedPriceValid">가격을 입력해주세요.</div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-group">
                        <input class="form-control fs-11" style="text-align: right;" type="text" id="feedWeight" name="feedWeight" placeholder="무게" aria-describedby="basic-addon2" maxlength="5" /><span class="input-group-text fs-11" id="basic-addon2">kg</span>
                        <div class="invalid-feedback" id="feedWeightValid">무게를 입력해주세요.</div>
                      </div>
                    </div>
                    <div class="col-3">
                      <div class="input-group">
                        <input class="form-control fs-11" style="text-align: right;" type="text" id="feedDiscount" name="feedDiscount" placeholder="할인율" aria-describedby="basic-addon2" maxlength="3" /><span class="input-group-text fs-11" id="basic-addon2">%</span>
                        <div class="invalid-feedback" id="feedDiscountValid">할인율을 입력해주세요.</div>
                      </div>
                    </div>
                    <div class="col-3">
                      <button class="btn btn-outline-primary me-1 mb-1 fs-11" type="button" id="feedInfoSaveBtn">
                        <span class="fas fa-plus me-1" data-fa-transform="shrink-3"></span>저장
                      </button>
                    </div>
                  </div>
                  <div class="mb-3 row g-3 ms-2 me-2">
                    <div class="col col-lg-6 col-md-10" id="createFeedInfo">
                    </div>
                  </div>
                </div>
              </form>
              <form class="dropzone dropzone-multiple p-0" id="dropzone-form" enctype="multipart/form-data">
                <div class="mb-3 row g-3 ms-2 me-2">
                  <div class="col-6" data-dropzone="data-dropzone" data-upload-type="1">
                    <label class="form-label-JHY" for="formFileMultiple">상품 이미지</label>
                    <input type="hidden" id="uploadImg1Type" name="uploadImg1Type">
                    <input type="hidden" id="uploadImg1MaxNumber" name="uploadImg1MaxNumber" value="1">
                    <input type="hidden" name="prodSeq" th:value="${item.prodSeq}">
                    <div class="fallback">
                      <input name="file" type="file" multiple="multiple" />
                    </div>
                    <div class="dz-message" data-dz-message="data-dz-message"> <img class="me-2" src="/xdm/template/falcon-v3.23.0/assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here</div>
                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                      <div class="d-flex media mb-3 pb-3 border-bottom btn-reveal-trigger"><img class="dz-image" src="/xdm/template/falcon-v3.23.0/assets/img/generic/image-file-2.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                        <div class="flex-1 d-flex flex-between-center">
                          <div>
                            <h6 data-dz-name="data-dz-name"></h6>
                            <div class="d-flex align-items-center">
                              <p class="mb-0 fs-10 text-400 lh-1" data-dz-size="data-dz-size"></p>
                              <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            </div><span class="fs-11 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                          </div>
                          <div class="dropdown font-sans-serif">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-2"><a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-6" data-dropzone="data-dropzone" data-upload-type="2">
                    <label class="form-label-JHY">설명 이미지</label>
                    <div class="fallback">
                      <input name="file" type="file" multiple="multiple" />
                    </div>
                    <div class="dz-message" data-dz-message="data-dz-message"> <img class="me-2" src="/xdm/template/falcon-v3.23.0/assets/img/icons/cloud-upload.svg" width="25" alt="" />Drop your files here</div>
                    <div class="dz-preview dz-preview-multiple m-0 d-flex flex-column">
                      <div class="d-flex media mb-3 pb-3 border-bottom btn-reveal-trigger"><img class="dz-image" src="/xdm/template/falcon-v3.23.0/assets/img/generic/image-file-2.png" alt="..." data-dz-thumbnail="data-dz-thumbnail" />
                        <div class="flex-1 d-flex flex-between-center">
                          <div>
                            <h6 data-dz-name="data-dz-name"></h6>
                            <div class="d-flex align-items-center">
                              <p class="mb-0 fs-10 text-400 lh-1" data-dz-size="data-dz-size"></p>
                              <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress=""></span></div>
                            </div><span class="fs-11 text-danger" data-dz-errormessage="data-dz-errormessage"></span>
                          </div>
                          <div class="dropdown font-sans-serif">
                            <button class="btn btn-link text-600 btn-sm dropdown-toggle btn-reveal dropdown-caret-none" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="fas fa-ellipsis-h"></span></button>
                            <div class="dropdown-menu dropdown-menu-end border py-2"><a class="dropdown-item" href="#!" data-dz-remove="data-dz-remove">Remove File</a></div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="mb-3 row g-3 ms-2 me-2">
                  <div class="col-6">
                    <div class="row">
                      <div class="col-4" th:each="image : ${image1}">
                        <div class="btn-close-falcon imageSeq" th:attr="data-seq=${image.seq}" onclick="removeImage(this)"></div>
                        <a th:href="${image.path}" data-gallery="gallery-2">
                          <img class="img-fluid rounded" th:src="${image.path}" alt="" width="300" style="height: 150px; object-fit:contain;" />
                        </a>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="row">
                      <div class="col-4" th:each="image : ${image2}">
                        <div class="btn-close-falcon imageSeq" th:attr="data-seq=${image.seq}" onclick="removeImage(this)"></div>
                        <a th:href="${image.path}" data-gallery="gallery-2">
                          <img class="img-fluid rounded" th:src="${image.path}" alt="" width="300" style="height: 150px; object-fit:contain;" />
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
              <div class="mb-3 row g-3">
                <div class="col">
                  <a th:href="@{/xdm/product/ProductXdmList(prodType=1)}"><button class="btn btn-outline-dark btn-sm" type="button"><span class="fas fa-list-ul"></span></button></a>
                  <button class="btn btn-danger btn-sm" type="button" id="deleteBtn" th:if="${vo.registerOrModifyFlag != 1}"><span class="bi-x"></span></button>
                  <button class="btn btn-danger btn-sm" type="button" id="ueleteBtn" th:if="${vo.registerOrModifyFlag != 1}"><span class="far fa-trash-alt"></span></button>
                </div>
                <div class="col" style="text-align: right;">
                  <button class="btn btn-primary btn-sm" type="button" id="submitBtn"><span class="fas fa-database"></span></button>
                </div>
              </div>
            </div>
          </div>
          <div th:replace="~{xdm/include/footer :: footer}"><div>
        </div>
      </div>
    </main>
    <div th:replace="~{xdm/include/modal :: modal}"></div>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
  <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
  <div th:replace="~{xdm/include/includeXdmCommon :: includeXdmCommon}"></div>
  <script src="/xdm/template/falcon-v3.23.0/assets/js/image.js"></script>
  <script th:inline="javascript" src="/xdm/template/falcon-v3.23.0/assets/js/validation.js"></script>
  <script th:inline="javascript" src="/xdm/template/falcon-v3.23.0/assets/js/delete.js"></script>
  <div th:replace="~{xdm/include/includeXdmCommonProd :: includeXdmCommonProd}"></div>
  <script type="text/javascript">
    let form = document.getElementById("product-form");

    let goUrlXdmInst = "/xdm/product/ProductXdmInst";
    let goUrlXdmUpdt = "/xdm/product/ProductXdmUpdt";
    let goUrlXdmDelt = "/xdm/product/ProductXdmDele";
    let goUrlXdmUelt = "/xdm/product/ProductXdmUele";

    let name = document.getElementById("prodName");
    let useFlag = document.getElementById("prodUseFlag");
    let feedPrice = document.getElementById("feedPrice");
    let feedWeight = document.getElementById("feedWeight");
    let feedDiscount = document.getElementById("feedDiscount");
    
    let nameValid = document.getElementById("prodNameValid");
    let useFlagValid = document.getElementById("prodUseFlagValid");
    let feedPriceValid = document.getElementById("feedPriceValid");
    let feedWeightValid = document.getElementById("feedWeightValid");
    let feedDiscountValid = document.getElementById("feedDiscountValid");

    if ($("#prodPetType").val() == 239) {
      $("#dog").prop('checked', true);
    } else if ($("#prodPetType").val() == 240) {
      $("#cat").prop('checked', true);
    }

    validationInit = function() {
      nameValid.style.display = "none";
      useFlagValid.style.display = "none";
      feedPriceValid.style.display = "none";
      feedWeightValid.style.display = "none";
      feedDiscountValid.style.display = "none";
    }

    validation = function() {
      let temp;

      if ($("#dog").is(":checked")) {
        $("#prodPetType").val($("#dog").val());
      } else if ($("#cat").is(":checked")) {
        $("#prodPetType").val($("#cat").val());
      }

      temp = allGapRemove(name.value);
      if (!checkLength(temp) || !onlyEngKoNumSpecialChar(temp)) {
        nameValid.style.display = "block";
        name.style.outlineColor = "red";
        name.focus();
        return false;
      }

      temp = useFlag.value;
      if (temp == "") {
        useFlagValid.style.display = "block";
        useFlag.style.outlineColor = "red";
        useFlag.focus();
        return false;
      }

      feedInfoSave();
      feedFuncSave();

      return true;
    }

    infoValidation = function() {
      let temp;
      
      temp = bothSidesGapRemove(feedPrice.value);
      if (!checkLength(temp) || !onlyNum(temp)) {
        feedPriceValid.style.display = "block";
        feedPrice.style.outlineColor = "red";
        feedPrice.focus();
        return false;
      }

      temp = dotRemove(feedWeight.value);
      if (!checkLength(temp) || !onlyNum(temp)) {
        feedWeightValid.style.display = "block";
        feedWeight.style.outlineColor = "red";
        feedWeight.focus();
        return false;
      }

      temp = bothSidesGapRemove(feedDiscount.value);
      if (checkLength(temp) && (!onlyNum(temp) || temp > 100)) {
        feedDiscountValid.style.display = "block";
        feedDiscount.style.outlineColor = "red";
        feedDiscount.focus();
        return false;
      }
      return true;
    }
  </script>
  </body>
  
  </html>