
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{xdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <div class="card mb-3" id="customersTable" data-list='{"valueNames":["#","use","code-group-code","code-group-name", "code", "instead-code", "code-name", "code-name-eng", "order", "resist-date", "modify-date"]}'>
            <div class="card-header">
              <div class="mb-2 row g-3">
                <h1>Elastic Search</h1>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <button class="btn btn-outline-dark btn-sm" type="button" id="index" onclick="indexSearch()"> index Search</button>
                </div>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-2">
                  <select class="form-select-JHY" id="shIndex" name="shIndex" aria-label="Default select example">
                    <option value=""> index 선택</option>
                    <option th:each="dto : ${dtos}" th:text="${dto.index}" th:value="${dto.index}"></option>
                  </select>
                </div>
                <div class="col-2">
                  <button class="btn btn-outline-dark btn-sm" type="button" id="document" onclick="docSearch()"> doc Search</button>
                </div>
              </div>
            </div>
            <div class="card-body p-0"></div>
            <div class="mb-2 row g-3 ms-1 me-1 mt-3">
              <div class="col">
                <button class="btn btn-danger btn-sm" type="button" onclick="elasticDelete()"><span class="far fa-trash-alt"></span></button>
              </div>
              <div class="col" style="text-align: right;">
                <button class="btn btn-primary btn-sm" type="button" onclick="elasticIndexReg()"><span class="fas fa-plus"></span> Index</button>
                <button class="btn btn-primary btn-sm" type="button" onclick="elasticRegister()"><span class="fas fa-plus"></span> Doc</button>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{xdm/include/footer :: footer}"></div>
        </div>
      </div>
    </main>
    <div th:replace="~{xdm/include/modal :: modal}"></div>
    <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
    <div th:replace="~{xdm/include/includeXdmCommon :: includeXdmCommon}"></div>
    <script src="/xdm/template/falcon-v3.23.0/assets/js/elasticSearch.js"></script>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
  </body>
  
  </html>