
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{xdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <input type="hidden" name="registerOrModifyFlag" id="registerOrModifyFlag" value="0">
          <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
          <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
          <input type="hidden" id="cogrSeq" name="cogrSeq" value=0/>
          <div class="card mb-3" id="customersTable" data-list='{"valueNames":["#","use","code-group-code","code-group-name", "code-group-name-eng", "count", "order", "resist-date", "modify-date"],"page":10,"pagination":true}'>
            <div class="card-header" id="search">
              <div class="mb-2 row g-3">
                <h1>Code Group</h1>
                <div class="col-4">
                  <select class="form-select-JHY" id="shUseFlag" name="shUseFlag" aria-label="Default select example">
                    <option value="" th:selected="${vo.shUseFlag == null}">사용여부</option>
                    <option value="1" th:selected="${vo.shUseFlag == 1}">Y</option>
                    <option value="0" th:selected="${vo.shUseFlag == 0}">N</option>
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-select-JHY" id="shDelFlag" name="shDelFlag" aria-label="Default select example">
                    <option value="" th:selected="${vo.shDelFlag == null}">삭제여부</option>
                    <option value="1" th:selected="${vo.shDelFlag == 1}">Y</option>
                    <option value="0" th:selected="${vo.shDelFlag == 0}">N</option>  
                  </select>
                </div>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOptionDate" name="shOptionDate" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
                    <option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
                    <option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" type="text" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateEnd" name="shDateEnd" type="text" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
              </div>
              <div class="mb-4 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOption" name="shOption" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOption == null}">검색구분</option>
                    <option value="1" th:selected="${vo.shOption == 1}">코드그룹 코드</option>
                    <option value="2" th:selected="${vo.shOption == 2}">코드그룹 이름</option>
                    <option value="3" th:selected="${vo.shOption == 3}">코드그룹 이름 (영문)</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY" type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" />
                </div>
                <div class="col-4">
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnSearch" onclick="search()"><span class="fas fa-search"></span></button>
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnReset" onclick="shReset()"><span class="fas fa-redo-alt"></span></button>
                </div>
              </div>
              <div th:replace="~{xdm/include/listRowNum :: listRowNum}"></div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table mb-0 data-table fs-10 align-middle-JHY" data-datatables="data-datatables">
                  <thead class="bg-200">
                    <tr>
                      <th>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}' />
                        </div>
                      </th>
                      <th class="text-900 sort white-nowrap" data-sort="#">#</th>
                      <th class="text-900 sort white-nowrap" data-sort="use">사용</th>
                      <th class="text-900 sort white-nowrap" data-sort="code-group-code">코드그룹 코드</th>
                      <th class="text-900 sort white-nowrap" data-sort="code-group-name">코드그룹 이름</th>
                      <th class="text-900 sort white-nowrap" data-sort="code-group-name-eng">코드그룹 이름(영문)</th>
                      <th class="text-900 sort white-nowrap" data-sort="count">갯수</th>
                      <th class="text-900 sort white-nowrap" data-sort="order">순서</th>
                      <th class="text-900 sort white-nowrap" data-sort="resist-date">등록일</th>
                      <th class="text-900 sort white-nowrap" data-sort="modify-date">수정일</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="table-customers-body">
                    <tr th:if="${#lists.isEmpty(list)}">
                      <td>
                        <div class="fs-9 mb-0">
                          There are no data!
                        </div>
                      </td>
                    </tr>
                    <tr th:if="${!#lists.isEmpty(list)}" class="btn-reveal-trigger" th:each="list : ${list}">
                      <td>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input listCheckBox" type="checkbox" id="customer-0" th:value="${list.cogrSeq}" data-bulk-select-row="data-bulk-select-row" />
                        </div>
                      </td>
                      <td class="#" th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
                      <td class="use" th:if="${list.cogrUseFlag} == '1'">Y</td>
                      <td class="use" th:if="${list.cogrUseFlag} == '0'">N</td>
                      <td class="code-group-code" th:if="${list.cogrNum} == null" th:text="${list.cogrSeq}"></td>
                      <td class="code-group-code" th:if="${list.cogrNum} != null" th:text="${list.cogrNum}"></td>
                      <td class="code-group-name"><a th:href="@{/xdm/codegroup/CodeGroupXdmForm(cogrSeq=${list.cogrSeq})}" th:text="${list.cogrName}"></a></td>
                      <td class="code-group-name-eng" th:text="${list.cogrNameEng}"></td>
                      <td class="count" th:text="${list.count}"></td>
                      <td class="order" th:text="${list.cogrOrder}"></td>
                      <td class="register-date" th:text="${list.cogrRegDate}"></td>
                      <td class="modify-date\" th:text="${list.cogrModDate}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div th:replace="~{xdm/include/pagination :: pagination}"></div>
            <div class="mb-2 row g-3 ms-1 me-1">
              <div class="col">
                <button class="btn btn-danger btn-sm" type="button" id="deleteBtn" value="1"><span class="bi-x"></span></button>
                <button class="btn btn-danger btn-sm" type="button" id="ueleteBtn" value="1"><span class="far fa-trash-alt"></span></button>
              </div>
              <div class="col" style="text-align: right;">
                <button class="btn btn-success btn-sm" type="button"><span class="far fa-file-excel"></span></button>
                <button class="btn btn-primary btn-sm" type="button" id="registerBtn"><span class="fas fa-plus"></span></button>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{xdm/include/footer :: footer}"></div>
      </div>
    </div>
  </main>
  <div th:replace="~{xdm/include/modal :: modal}"></div>
  <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
  <div th:replace="~{xdm/include/includeXdmCommon :: includeXdmCommon}"></div>
  <div th:replace="~{xdm/include/includeXdmList :: includeXdmList}"></div>
<!-- ===============================================-->
<!--    End of Main Content-->
<!-- ===============================================-->
 <script>
    let form = document.querySelector("form[name=formList]");
   
    let goUrlXdmList = "/xdm/codegroup/CodeGroupXdmList";
    let goUrlXdmForm = "/xdm/codegroup/CodeGroupXdmForm";
    let goUrlXdmDeltProc = "/xdm/codegroup/CodeGroupXdmDeltProc";
    let goUrlXdmUeltProc = "/xdm/codegroup/CodeGroupXdmUeltProc";
 </script>
</body>

</html>
