<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="Base">

	<resultMap type="com.peterpet.demo.module.base.BaseDto" id="resultMapObj"></resultMap>
	
	<!-- uploaded s -->
	<sql id="insertUploaded">
		INSERT INTO image (
			type
			,defaultNy
			,sort
			,path
			,originalName
			,uuidName
			,ext
			,size
			,delNy
			,pseq
		) values (
			#{type}
			,#{defaultNy}
			,#{sort}
			,#{path}
			,#{originalName}
			,#{uuidName}
			,#{ext}
			,#{size}
			,0
			,#{pseq}
		)
	</sql>
</mapper>