<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.codegroup.CodeGroupDao">

	<resultMap type="com.peterpet.demo.module.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			cogrSeq,
			cogrName,
			cogrNameEng,
			cogrUseFlag,
			cogrOrder,
			cogrDisc,
			cogrRegDate,
			cogrModDate,
			cogrDelFlag,
			cogrNum,
			(SELECT COUNT(*)
			FROM code
			WHERE 1=1
			AND codeGroup_cogrSeq = cogrSeq) AS count
		FROM
			codegroup
		ORDER BY cogrSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			cogrSeq,
			cogrName,
			cogrNameEng,
			cogrUseFlag,
			cogrOrder,
			cogrDisc,
			cogrRegDate,
			cogrModDate,
			cogrDelFlag,
			cogrNum
		FROM
			codegroup
		WHERE 1=1
			AND cogrSeq = #{cogrSeq}
	</select>
	
	<select id="selectMaxSeq" resultMap="resultMapObj">
		SELECT
			cogrSeq
		FROM
			codegroup
		WHERE 1=1
			AND cogrSeq = (SELECT MAX(cogrSeq) FROM codegroup)
	</select>
	
	<insert id="insert">
		INSERT INTO codegroup (
			cogrName,
			cogrNameEng,
			cogrUseFlag,
			cogrOrder,
			cogrDisc,
			cogrRegDate,
			cogrModDate,
			cogrDelFlag,
			cogrNum
		) VALUE (
			#{cogrName},
			#{cogrNameEng},
			#{cogrUseFlag},
			#{cogrOrder},
			#{cogrDisc},
			#{cogrRegDate},
			#{cogrModDate},
			0,
			#{cogrNum}
		)
		<selectKey resultType="String" keyProperty="cogrSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		FROM codegroup
		WHERE 1=1
			<!-- <if test="useFlag == 1">AND cogrUseFlag = #{cogrUseFlag}</if>
			<if test="delFlag == 1">AND cogrDelFlag = #{cogrDelFlag}</if> -->
	</select>
</mapper>