<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namepace="com.peterpet.demo.module.codegroup.CodeGroupDao">

	<resultMap type="com.peterpet.demo.module.codegroup.CodeGroupDto" id="resultMapObj"></resultMap>
	
	<seect id="selectList" resultMap="resultMapObj">
		SELECT
			cogrSeq,
			cogrName,
			cogrNameEng,
			cogrUseFlag,
			cogrOrder,
			cogrDisc,
			cogrRegDate,
			cogrModDate,
			cogrDelFlag,
			cogrNum
		FROM
			codegroup
	</select>
</mapper>