<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.member.MemberDao">

	<resultMap type="com.peterpet.demo.module.member.MemberDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM user a
        WHERE 1=1
        <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.userDelFlag = #{shDelFlag}</if>
        <if test="shSecession != null and !shSecession.equals('')">AND a.userSecession = #{shSecession}</if>
			
		<choose>
			<when test="shOptionDate == 1">AND a.userRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.userModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>		
				
        <choose>
            <when test="shOption == 1">AND a.userName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND a.userId LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 3">AND a.userEmail LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 4">AND a.userPhone LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 5">AND a.userAddr LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.userSeq,
			a.userGender,
			a.userName,
			a.userId,
			a.userEmail,
			a.userPhone,
			a.userAddr,
			a.userJibunAddr,
			a.userReference,
			a.userLatitude,
			a.userLongitude,
			a.userDetailAddr,
			a.userRegDate,
			a.userModDate,
			(SELECT
				COUNT(*)
			FROM
				pet
			WHERE 1=1
				AND userSeq = user_userSeq) AS petCount
		<include refid="selectCommon"></include>
		ORDER BY userSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			userSeq,
			userGender,
			userName,
			userId,
			userPassword,
			userBirth,
			userEmail,
			userAgency,
			userPhone,
			userRecvNotiFlag,
			userPostCode,
			userAddr,
			userJibunAddr,
			userDetailAddr,
			userReference,
			userLatitude,
			userLongitude,
			userDelFlag,
			userSavePoint,
			userSecession,
			userEtcReason
		FROM
			user
		WHERE 1=1
			AND userSeq = #{userSeq}
	</select>
	
	<select id="selectOneLogin" resultMap="resultMapObj">
		SELECT
			userSeq,
			userName,
			userId,
			userPassword
		FROM
			user
		WHERE 1=1
			AND userId = #{userId}
			AND userDelFlag = 0
	</select>
	
	<update id="update">
		UPDATE user
		SET 
			userName = #{userName},
			userModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			userEmail = #{userEmail},
			userPhone = #{userPhone},
			userRecvNotiFlag = #{userRecvNotiFlag},
			userPostCode = #{userPostCode},
			userAddr = #{userAddr},
			userJibunAddr = #{userJibunAddr},
			userDetailAddr = #{userDetailAddr},
			userReference = #{userReference},
			userLatitude = #{userLatitude},
			userLongitude = #{userLongitude}
		WHERE
			userSeq = #{userSeq}
	</update>
	
	<insert id="insert">
		INSERT INTO user (
			userGender,
			userName,
			userId,
			userPassword,
			userBirth,
			userEmail,
			userAgency,
			userPhone,
			userRecvNotiFlag,
			userPostCode,
			userAddr,
			userJibunAddr,
			userDetailAddr,
			userReference,
			userLatitude,
			userLongitude,
			userDelFlag,
			userSavePoint,
			userRegDate
		) VALUE (
			#{userGender},
			#{userName},
			#{userId},
			#{userPassword},
			#{userBirth},
			#{userEmail},
			#{userAgency},
			#{userPhone},
			#{userRecvNotiFlag},
			#{userPostCode},
			#{userAddr},
			#{userJibunAddr},
			#{userDetailAddr},
			#{userReference},
			#{userLatitude},
			#{userLongitude},
			0,
			0,
			date_format(NOW(), '%Y-%m-%d %H:%i:%S')
		)
		<selectKey resultType="String" keyProperty="userSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="checkId" resultType="Integer">
		SELECT COUNT(*)
		FROM
			user
		WHERE 1=1
			AND userId = #{userId}
	</select>
	
	<select id="checkEmail" resultType="Integer">
		SELECT COUNT(*)
		FROM
			user
		WHERE 1=1
			AND userEmail = #{userEmail}
	</select>
	
	<update id="updatePassword">
		UPDATE user
		SET 
			userPassword = #{userPassword}
		WHERE
			userSeq = #{userSeq}
	</update>
	
	<update id="uelete">
		UPDATE user
		SET 
			userDelFlag = 1,
			userSecession = #{userSecession},
			userEtcReason = #{userEtcReason},
			userModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S')
		WHERE
			userSeq = #{userSeq}
	</update>
	
	<select id="checkPhone" resultMap="resultMapObj">
		SELECT
			userDelFlag,
			TIMESTAMPDIFF(DAY, userModDate, date_format(NOW(), '%Y-%m-%d %H:%i:%S')) AS dateDiff
		FROM
			user
		WHERE 1=1
			AND userPhone = #{userPhone}
	</select>
	
	<insert id="reviewInsert">
		INSERT INTO review(
			reviScore,
			reviText,
			reviRegDate,
			reviGood,
			product_prodSeq,
			user_userSeq
		) VALUE (
			#{reviScore},
			#{reviText},
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			0,
			#{prodSeq},
			#{userSeq}
		)
		<selectKey resultType="String" keyProperty="reviSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>