<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.pet.PetDao">

	<resultMap type="com.peterpet.demo.module.pet.PetDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM pet a
        	LEFT JOIN user b ON a.user_userSeq = b.userSeq
        WHERE 1=1
        <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.petDelFlag = #{shDelFlag}</if>
        <if test="shVaccineFlag != null and !shVaccineFlag.equals('')">AND a.petVaccinationFlag = #{shVaccineFlag}</if>
        <if test="shNeuterFlag != null and !shNeuterFlag.equals('')">AND a.petNeuteringFlag = #{shNeuterFlag}</if>
        <if test="shType != null and !shType.equals('')">AND a.petType = #{shType}</if>
        <if test="shVarieties != null and !shVarieties.equals('')">AND a.petVarieties = #{shVarieties}</if>
        <if test="shMinWeight != null and !shMinWeight.equals('') and shMaxWeight != null and !shMaxWeight.equals('')">
        	AND a.petWeight BETWEEN #{shMinWeight} AND #{shMaxWeight}
        </if>
        			
		<choose>
			<when test="shOptionDate == 1">AND a.petRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
			<when test="shOptionDate == 2">AND a.petModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
		</choose>		
			
        <choose>
            <when test="shOption == 1">AND a.petName LIKE CONCAT('%',#{shValue},'%')</when>
            <when test="shOption == 2">AND b.userName LIKE CONCAT('%',#{shValue},'%')</when>
        </choose>
    </sql>
    
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			a.petSeq,
			a.petType,
			a.petVarieties,
			a.petGender,
			a.petName,
			a.petNickname,
			a.petBirth,
			a.petWeight,
			a.petVaccinationFlag,
			a.petNeuteringFlag,
			a.petRegDate,
			a.petModDate,
			b.userSeq,
		    b.userName,
		    (SELECT
				count(*)
			FROM
				personality
			WHERE 1=1
				AND pet_petSeq = a.petSeq) AS personalCount,
			(SELECT
				count(*)
			FROM
				disease
			WHERE 1=1
				AND pet_petSeq = a.petSeq) AS diseaseCount
		<include refid="selectCommon"></include>
		ORDER BY petSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectListOneUser" resultMap="resultMapObj">
		SELECT
			a.petSeq,
			a.petVarieties,
			a.petGender,
			a.petName,
			a.petNickname,
			a.petBirth,
			a.petWeight,
			a.petVaccinationFlag,
			a.petNeuteringFlag,
			a.petRegDate,
			a.petModDate,
			b.userSeq,
		    b.userName,
		    (SELECT
				count(*)
			FROM
				personality
			WHERE 1=1
				AND pet_petSeq = a.petSeq) AS personalCount,
			(SELECT
				count(*)
			FROM
				disease
			WHERE 1=1
				AND pet_petSeq = a.petSeq) AS diseaseCount
		FROM
			pet a
    		LEFT JOIN user b ON a.user_userSeq = b.userSeq
		WHERE 1=1
			AND user_userSeq = #{userSeq}
		ORDER BY petSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOneCountOneUser" resultType="Integer">
		SELECT COUNT(*)
		FROM pet
		WHERE 1=1
			AND user_userSeq = #{userSeq}
	</select>
	
	<select id="selectOne" resultMap="resultMapObj">
		SELECT
			petSeq,
			petVarieties,
			petGender,
			petName,
			petNickname,
			petBirth,
			petWeight,
			petVaccinationFlag,
			petNeuteringFlag,
			petDelFlag
		FROM
			pet
		WHERE 1=1
			AND petSeq = #{petSeq}
	</select>
	
	<select id="selectOnePersonal">
		SELECT
			b.persDiscription
		FROM
			pet a
		    LEFT JOIN personality b ON a.petSeq = b.pet_petSeq
		WHERE 1=1
			AND pet_petSeq = #{petSeq}
	</select>
	
	<select id="selectOneDisease">
		SELECT
			b.diseDiscription
		FROM
			pet a
		    LEFT JOIN disease b ON a.petSeq = b.pet_petSeq
		WHERE 1=1
			AND pet_petSeq = #{petSeq}
	</select>
	
	<select id="selectListPeterPets" resultMap="resultMapObj">
		SELECT
			petSeq,
			petVarieties,
			petGender,
			petName,
			petNickname,
			petBirth,
			petWeight,
			petVaccinationFlag,
			petNeuteringFlag
		FROM
			pet
		WHERE 1=1
			AND user_userSeq = #{userSeq}
	</select>
	
	<insert id="insert">
		INSERT INTO pet(
			petType,
			petVarieties,
			petGender,
			petName,
			petNickname,
			petBirth,
			petWeight,
			petVaccinationFlag,
			petNeuteringFlag,
			petRegDate,
			petDelFlag,
			user_userSeq
		) VALUE (
			#{petType},
			#{petVarieties},
			#{petGender},
			#{petName},
			#{petNickname},
			#{petBirth},
			#{petWeight},
			#{petVaccinationFlag},
			#{petNeuteringFlag},
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			0,
			#{user_userSeq}
		)
		<selectKey resultType="String" keyProperty="petSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectMaxSeq" resultType="String">
		SELECT
			MAX(petSeq)
		FROM
			pet
	</select>
	
	<insert id="personalInsert">
		INSERT INTO personality(
			persDiscription,
			pet_petSeq
		) VALUE(
			#{persDiscription},
			#{petSeq}
		)
		<selectKey resultType="String" keyProperty="persSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="diseaseInsert">
		INSERT INTO disease(
			diseDiscription,
			pet_petSeq
		) VALUE(
			#{diseDiscription},
			#{petSeq}
		)
		<selectKey resultType="String" keyProperty="diseSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
</mapper>