<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.product.ProductDao">

	<resultMap type="com.peterpet.demo.module.product.ProductDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM product a
        LEFT JOIN (SELECT
        		GROUP_CONCAT(funcName) AS funcName,
        		product_prodSeq
        	FROM
        		func
        	GROUP BY product_prodSeq) AS b ON a.prodSeq = b.product_prodSeq
        WHERE 1=1
        	AND prodType = #{prodType}
        	AND a.prodName LIKE CONCAT('%',#{shValue},'%')
		        <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.prodDelFlag = #{shDelFlag}</if>
		        <if test="prodPetType != 0">AND a.prodPetType = #{prodPetType}</if>
		        
	        	<if test="prodType == 1">
			        <if test="shFeedSalaryAge != null and !shFeedSalaryAge.equals('')">AND a.feedSalaryAge = #{shFeedSalaryAge}</if>
			        <if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			        <if test="shFeedEtc != null and !shFeedEtc.equals('')">AND a.feedEtc = #{shFeedEtc}</if>
			        <if test="shFeedSize != null and !shFeedSize.equals('')">AND a.feedSize = #{shFeedSize}</if>
			        <if test="shFeedBrand != null and !shFeedBrand.equals('')">AND a.feedBrand = #{shFeedBrand}</if>
			        <if test="shFeedIngredient != null and !shFeedIngredient.equals('')">AND a.feedIngredient = #{shFeedIngredient}</if>
			        <if test="prodFuncArray != null and prodFuncArray.size() > 0">
			        	<foreach collection="prodFuncArray" item="func">
			        		AND FIND_IN_SET(#{func}, funcName) > 0
			        	</foreach>
			        </if>
				</if>
				
				<if test="prodType == 2">
			        <if test="shSnackType != null and !shSnackType.equals('')">AND a.snackType = #{shSnackType}</if>
			        <if test="shSnackSalaryAge != null and !shSnackSalaryAge.equals('')">AND a.SnackSalaryAge = #{shSnackSalaryAge}</if>
			        <if test="shSnackMaterial != null and !shSnackMaterial.equals('')">AND a.snackMaterial = #{shSnackMaterial}</if>
			        <if test="shSnackBrand != null and !shSnackBrand.equals('')">AND a.snackBrand = #{shSnackBrand}</if>
			        <if test="shSnackIngredient != null and !shSnackIngredient.equals('')">AND a.snackIngredient = #{shSnackIngredient}</if>
				</if>
			
				<choose>
					<when test="shOptionDate == 1">AND a.prodRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.prodModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 
    </sql>
    
	<select id="selectMaxSeq" resultType="Integer">
		SELECT
			MAX(prodSeq)
		FROM
			product
	</select>
	
	<insert id="insert">
		INSERT INTO product(
			prodType,
			prodUseFlag,
			prodName,
			prodScore,
			prodRegDate,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			prodDelFlag,
			prodPetType
		) VALUE (
			#{prodType},
			#{prodUseFlag},
			#{prodName},
			0,
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			#{feedSalaryAge},
			#{feedType},
			#{feedEtc},
			#{feedBrand},
			#{feedIngredient},
			#{feedSize},
			0,
			#{prodPetType}
		)
		<selectKey resultType="String" keyProperty="prodSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="infoInsert">
		INSERT INTO feedinfo(
			infoPrice,
			infoWeight,
			infoDiscount,
			infoDelFlag,
			infoRegDate,
			infoMain,
			product_prodSeq
		) VALUE (
			#{infoPrice},
			#{infoWeight},
			#{infoDiscount},
			0,
			date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			#{infoMain},
			#{prodSeq}
		)
		<selectKey resultType="String" keyProperty="infoSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="funcInsert">
		INSERT INTO func(
			funcName,
			funcMain,
			product_prodSeq
		) VALUE (
			#{funcName},
			#{funcMain},
			#{prodSeq}
		)
		<selectKey resultType="String" keyProperty="funcSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			prodSeq,
			prodUseFlag,
			prodName,
			prodRegDate,
			prodModDate,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			prodPetType,
			(SELECT
				COUNT(*)
			FROM
				feedInfo
			WHERE 1=1
				AND prodSeq = product_prodSeq) AS infoCount,
			(SELECT
				COUNT(*)
			FROM
				func
			WHERE 1=1
				AND prodSeq = product_prodSeq) AS funcCount
		<include refid="selectCommon"></include>
		ORDER BY prodSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOnePoduct" resultMap="resultMapObj">
		SELECT
			prodSeq,
			prodUseFlag,
			prodName,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			prodPetType,
			prodScore,
			prodIsStock,
			prodPetType,
			b.infoDiscount,
			b.infoPrice,
			b.infoWeight,
			(b.infoPrice * (100 - infoDiscount) / 100) AS discountPrice,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq}) AS reviewCount,
			(SELECT GROUP_CONCAT(infoWeight) FROM feedinfo WHERE product_prodSeq = #{prodSeq} GROUP BY product_prodSeq) AS weightArr
        FROM
        	product
        	LEFT JOIN feedinfo b ON prodSeq = b.product_prodSeq AND infoMain = 1
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<select id="selectOneFunctions" resultMap="resultMapObj">
		SELECT
			funcSeq,
			funcName
        FROM
        	func
        	LEFT JOIN product ON prodSeq = product_prodSeq
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<select id="selectOneInfos" resultMap="resultMapObj">
		SELECT
			infoSeq,
			infoPrice,
			infoWeight,
			infoDiscount
        FROM
        	feedinfo
        	LEFT JOIN product ON prodSeq = product_prodSeq
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<update id="update">
		UPDATE product
		SET
			prodUseFlag = #{prodUseFlag},
			prodName = #{prodName},
			prodModDate = date_format(NOW(), '%Y-%m-%d %H:%i:%S'),
			feedSalaryAge = #{feedSalaryAge},
			feedType = #{feedType},
			feedEtc = #{feedEtc},
			feedBrand = #{feedBrand},
			feedIngredient = #{feedIngredient},
			feedSize = #{feedSize},
			prodPetType = #{prodPetType}
		WHERE
			prodSeq = #{prodSeq}
	</update>
	
	<update id="infoUpdate">
		UPDATE feedinfo
		SET
			infoPrice = #{infoPrice},
			infoWeight = #{infoWeight},
			infoDiscount = #{infoDiscount}
		WHERE
			infoSeq = #{infoSeq}
	</update>
	
	<update id="funcUpdate">
		UPDATE func
		SET
			funcName = #{funcName}
		WHERE
			funcSeq = #{funcSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM product
		WHERE
			prodSeq = #{prodSeq}
	</delete>
	
	<delete id="funcDelete">
		DELETE FROM func
		WHERE
			funcSeq = #{funcSeq}
	</delete>
	
	<delete id="infoDelete">
		DELETE FROM feedinfo
		WHERE
			infoSeq = #{infoSeq}
	</delete>
	
	<update id="uelete">
		UPDATE product
		SET
			prodDelFlag = 1
		WHERE
			prodSeq = #{prodSeq}
	</update>
	
	<update id="severalUelete">
		UPDATE product
		SET
			prodDelFlag = 1
		WHERE prodSeq IN
		<foreach collection="listArray" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<delete id="severalDelete">
		DELETE FROM product
		WHERE prodSeq IN
		<foreach collection="listArray" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<sql id="commonFeed">
		FROM product a
			LEFT JOIN feedinfo b ON a.prodSeq = b.product_prodSeq AND infoMain = 1
			LEFT JOIN func c ON a.prodSeq = c.product_prodSeq AND funcMain = 1
		WHERE 1=1
			AND a.prodDelFlag = 0
			<if test="shFeedSalaryAge != null and !shFeedSalaryAge.equals('')">AND a.feedSalaryAge = #{shFeedSalaryAge}</if>
			<if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			<if test="prodFuncArray != null and prodFuncArray.size() > 0">
	        	<foreach collection="prodFuncArray" item="func">
	        		AND FIND_IN_SET(#{func}, (SELECT GROUP_CONCAT(funcName) FROM func WHERE a.prodSeq = product_prodSeq)) > 0
	        	</foreach>
	        </if>
	        <if test="shFeedEtc != null and !shFeedEtc.equals('')">AND a.feedEtc = #{shFeedEtc}</if>
	        <choose>
				<when test="shFeedWeight == 14">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight >= 1)</when>
				<when test="shFeedWeight == 15">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 1 AND 2)</when>
				<when test="shFeedWeight == 16">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 2 AND 5)</when>
				<when test="shFeedWeight == 17">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 5 AND 10)</when>
				<when test="shFeedWeight == 18">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 10 AND 15)</when>
				<when test="shFeedWeight == 19">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight &lt; 15)</when>
			</choose>
	</sql>
	
	<select id="selectFeedList" resultMap="resultMapObj">
		SELECT
			a.prodSeq,
			a.prodName,
			a.prodScore,
			a.feedBrand,
			b.infoPrice,
			b.infoWeight,
			b.infoDiscount,
			c.funcName
		<include refid="commonFeed"></include>
        <choose>
			<when test="shSortBy == 1">ORDER BY a.prodRegDate DESC</when>
			<when test="shSortBy == 2">ORDER BY (SELECT COUNT(*) FROM review WHERE a.prodSeq = product_prodSeq)</when>
			<when test="shSortBy == 3">ORDER BY b.infoPrice * (100 - infoDiscount) / 100</when>
			<when test="shSortBy == 4">ORDER BY b.infoPrice * (100 - infoDiscount) / 100 DESC</when>
		</choose>
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneFeedCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="commonFeed"></include>
	</select>
</mapper>