<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.product.ProductDao">

	<resultMap type="com.peterpet.demo.module.product.ProductDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM product a
        WHERE 1=1
        	AND prodType = #{prodType}
        	AND a.prodName LIKE CONCAT('%',#{shValue},'%')
         <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.feedDelFlag = #{shDelFlag}</if>
         <if test="shFeedSalaryAge != null and !shFeedSalaryAge.equals('')">AND a.feedSalaryAge = #{shFeedSalaryAge}</if>
         <if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
         <if test="shFeedEtc != null and !shFeedEtc.equals('')">AND a.feedEtc = #{shFeedEtc}</if>
         <if test="shFeedSize != null and !shFeedSize.equals('')">AND a.feedSize = #{shFeedSize}</if>
         <if test="shFeedBrand != null and !shFeedBrand.equals('')">AND a.feedBrand = #{shFeedBrand}</if>
         <if test="shFeedIngredient != null and !shFeedIngredient.equals('')">AND a.feedIngredient = #{shFeedIngredient}</if>
<!-- 				
				<choose>
					<when test="shOptionDate == 1">AND a.userRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.userModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 -->				
    </sql>
    
	<select id="selectMaxSeq" resultType="Integer">
		SELECT
			MAX(prodSeq)
		FROM
			product
	</select>
	
	<insert id="insert">
		INSERT INTO product(
			prodType,
			prodUseFlag,
			prodName,
			prodScore,
			prodRegDate,
			prodModDate,
			feedSalaryAge,
			feedType,
			funcTeethFlag,
			funcTearsFlag,
			funcBrainFlag,
			funcImmunityFlag,
			funcBoneFlag,
			funcStressFlag,
			funcKidneyFlag,
			funcHeartFlag,
			funcAllergyFlag,
			funcPregnancyFlag,
			funcIntestineFlag,
			funcNeuteringFlag,
			funcWeightFlag,
			funcSkinFlag,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			feedDelFlag
		) VALUE (
			#{prodType},
			#{prodUseFlag},
			#{prodName},
			0,
			#{prodRegDate},
			#{prodModDate},
			#{feedSalaryAge},
			#{feedType},
			#{funcTeethFlag},
			#{funcTearsFlag},
			#{funcBrainFlag},
			#{funcImmunityFlag},
			#{funcBoneFlag},
			#{funcStressFlag},
			#{funcKidneyFlag},
			#{funcHeartFlag},
			#{funcAllergyFlag},
			#{funcPregnancyFlag},
			#{funcIntestineFlag},
			#{funcNeuteringFlag},
			#{funcWeightFlag},
			#{funcSkinFlag},
			#{feedEtc},
			#{feedBrand},
			#{feedIngredient},
			#{feedSize},
			0
		)
	</insert>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			prodUseFlag,
			prodName,
			prodRegDate,
			prodModDate,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			(SELECT
				COUNT(*)
			FROM
				feedInfo
			WHERE 1=1
				AND prodSeq = product_prodSeq) AS infoCount
		<include refid="selectCommon"></include>
		ORDER BY prodSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
</mapper>