<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
				 
<mapper namespace="com.peterpet.demo.module.product.ProductDao">

	<resultMap type="com.peterpet.demo.module.product.ProductDto" id="resultMapObj"></resultMap>
	
	<sql id="selectCommon">
        FROM product a
        LEFT JOIN (SELECT
        		GROUP_CONCAT(funcName) AS funcName,
        		product_prodSeq
        	FROM
        		func
        	GROUP BY product_prodSeq) AS b ON a.prodSeq = b.product_prodSeq
        LEFT JOIN feedinfo c ON c.product_prodSeq = a.prodSeq AND infoMain = 1
        WHERE 1=1
        	AND prodType = #{prodType}
        	AND a.prodName LIKE CONCAT('%',#{shValue},'%')
		        <if test="shDelFlag != null and !shDelFlag.equals('')">AND a.prodDelFlag = #{shDelFlag}</if>
		        <if test="prodPetType != null and prodPetType != 0 and !prodPetType.equals('')">AND a.prodPetType = #{prodPetType}</if>
		        
	        	<if test="prodType == 1">
			        <if test="shFeedSalaryAge != null and !shFeedSalaryAge.equals('')">AND a.feedSalaryAge = #{shFeedSalaryAge}</if>
			        <if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			        <if test="shFeedEtc != null and !shFeedEtc.equals('')">AND a.feedEtc = #{shFeedEtc}</if>
			        <if test="shFeedSize != null and !shFeedSize.equals('')">AND a.feedSize = #{shFeedSize}</if>
			        <if test="shFeedBrand != null and !shFeedBrand.equals('')">AND a.feedBrand = #{shFeedBrand}</if>
			        <if test="shFeedIngredient != null and !shFeedIngredient.equals('')">AND a.feedIngredient = #{shFeedIngredient}</if>
			        <if test="prodFuncArray != null and prodFuncArray.size() > 0">
			        	<foreach collection="prodFuncArray" item="func">
			        		AND FIND_IN_SET(#{func}, funcName) > 0
			        	</foreach>
			        </if>
				</if>
				
				<if test="prodType == 2">
			        <if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			        <if test="shSnckFeature != null and !shSnckFeature.equals('')">AND a.snckFeature = #{shSnckFeature}</if>
			        <if test="shFeedIngredient != null and !shFeedIngredient.equals('')">AND a.feedIngredient = #{shFeedIngredient}</if>
			        <if test="shFeedBrand != null and !shFeedBrand.equals('')">AND a.feedBrand = #{shFeedBrand}</if>
			        <if test="prodFuncArray != null and prodFuncArray.size() > 0">
			        	<foreach collection="prodFuncArray" item="func">
			        		AND FIND_IN_SET(#{func}, funcName) > 0
			        	</foreach>
			        </if>
				</if>
				
				<if test="prodType == 3">
			        <if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			        <if test="shSnckFeature != null and !shSnckFeature.equals('')">AND a.snckFeature = #{shSnckFeature}</if>
			        <if test="shFeedIngredient != null and !shFeedIngredient.equals('')">AND a.feedIngredient = #{shFeedIngredient}</if>
			        <if test="shFeedBrand != null and !shFeedBrand.equals('')">AND a.feedBrand = #{shFeedBrand}</if>
				</if>
			
				<choose>
					<when test="shOptionDate == 1">AND a.prodRegDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
					<when test="shOptionDate == 2">AND a.prodModDate BETWEEN #{shDateStart} AND #{shDateEnd}</when>
				</choose>
 
    </sql>
    
	<select id="selectMaxSeq" resultType="Integer">
		SELECT
			MAX(prodSeq)
		FROM
			product
	</select>
	
	<insert id="insert">
		INSERT INTO product(
			prodType,
			prodUseFlag,
			prodName,
			prodScore,
			prodRegDate,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			snckFeature,
			prodIsStock,
			prodDelFlag,
			prodPetType,
			prodSound,
			prodSmell,
			prodColor,
			prodCategory,
			prodFormulation,
			prodCategoryType,
			prodWidth,
			prodLength,
			prodHeight,
			prodWearMethod,
			prodFunction
		) VALUE (
			#{prodType},
			#{prodUseFlag},
			#{prodName},
			0,
			DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S'),
			#{feedSalaryAge},
			#{feedType},
			#{feedEtc},
			#{feedBrand},
			#{feedIngredient},
			#{feedSize},
			#{snckFeature},
			271,
			0,
			#{prodPetType},
			#{prodSound},
			#{prodSmell},
			#{prodColor},
			#{prodCategory},
			#{prodFormulation},
			#{prodCategoryType},
			#{prodWidth},
			#{prodLength},
			#{prodHeight},
			#{prodWearMethod},
			#{prodFunction}
		)
		<selectKey resultType="String" keyProperty="prodSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="infoInsert">
		INSERT INTO feedinfo(
			infoPrice,
			infoWeight,
			infoDiscount,
			infoDelFlag,
			infoRegDate,
			infoMain,
			product_prodSeq
		) VALUE (
			#{infoPrice},
			#{infoWeight},
			#{infoDiscount},
			0,
			DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S'),
			#{infoMain},
			#{prodSeq}
		)
		<selectKey resultType="String" keyProperty="infoSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<insert id="funcInsert">
		INSERT INTO func(
			funcName,
			funcMain,
			product_prodSeq
		) VALUE (
			#{funcName},
			#{funcMain},
			#{prodSeq}
		)
		<selectKey resultType="String" keyProperty="funcSeq" order="AFTER">
			SELECT last_insert_id()
		</selectKey>
	</insert>
	
	<select id="selectList" resultMap="resultMapObj">
		SELECT
			prodSeq,
			prodUseFlag,
			prodName,
			prodRegDate,
			prodModDate,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			snckFeature,
			prodPetType,
			(SELECT
				COUNT(*)
			FROM
				feedinfo
			WHERE 1=1
				AND prodSeq = product_prodSeq) AS infoCount,
			(SELECT
				COUNT(*)
			FROM
				func
			WHERE 1=1
				AND prodSeq = product_prodSeq) AS funcCount,
			c.infoPrice,
			c.infoDiscount
		<include refid="selectCommon"></include>
		ORDER BY prodSeq DESC
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="selectCommon"></include>
	</select>
	
	<select id="selectOnePoduct" resultMap="resultMapObj">
		SELECT
			prodSeq,
			prodUseFlag,
			prodName,
			feedSalaryAge,
			feedType,
			feedEtc,
			feedBrand,
			feedIngredient,
			feedSize,
			prodPetType,
			prodScore,
			prodIsStock,
			prodPetType,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviScore = 1 AND reviDelFlag = 0) AS scoreOne,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviScore = 2 AND reviDelFlag = 0) AS scoreTwo,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviScore = 3 AND reviDelFlag = 0) AS scoreThree,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviScore = 4 AND reviDelFlag = 0) AS scoreFour,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviScore = 5 AND reviDelFlag = 0) AS scoreFive,
			b.infoDiscount,
			b.infoPrice,
			b.infoWeight,
			(b.infoPrice * (100 - infoDiscount) / 100) AS discountPrice,
			(SELECT COUNT(*) FROM review WHERE product_prodSeq = #{prodSeq} AND reviDelFlag = 0) AS reviewCount,
			(SELECT GROUP_CONCAT(infoWeight) FROM feedinfo WHERE product_prodSeq = #{prodSeq} GROUP BY product_prodSeq) AS weightArr,
			(SELECT path FROM image WHERE #{prodSeq} = pseq AND delNy = 0 AND type = 1 ORDER BY sort LIMIT 1) AS path
        FROM
        	product
        	LEFT JOIN feedinfo b ON prodSeq = b.product_prodSeq AND infoMain = 1
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<select id="selectOneFunctions" resultMap="resultMapObj">
		SELECT
			funcSeq,
			funcName
        FROM
        	func
        	LEFT JOIN product ON prodSeq = product_prodSeq
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<select id="selectOneInfos" resultMap="resultMapObj">
		SELECT
			infoSeq,
			infoPrice,
			infoWeight,
			infoDiscount
        FROM
        	feedinfo
        	LEFT JOIN product ON prodSeq = product_prodSeq
        WHERE 1=1
        	AND prodSeq = #{prodSeq}
	</select>
	
	<update id="update">
		UPDATE product
		SET
			prodUseFlag = #{prodUseFlag},
			prodName = #{prodName},
			prodModDate = DATE_FORMAT(CONVERT_TZ(NOW(), 'UTC', 'Asia/Seoul'), '%Y-%m-%d %H:%i:%S'),
			feedSalaryAge = #{feedSalaryAge},
			feedType = #{feedType},
			feedEtc = #{feedEtc},
			feedBrand = #{feedBrand},
			feedIngredient = #{feedIngredient},
			feedSize = #{feedSize},
			snckFeature = #{snckFeature},
			prodPetType = #{prodPetType}
		WHERE
			prodSeq = #{prodSeq}
	</update>
	
	<update id="infoUpdate">
		UPDATE feedinfo
		SET
			infoPrice = #{infoPrice},
			infoWeight = #{infoWeight},
			infoDiscount = #{infoDiscount}
		WHERE
			infoSeq = #{infoSeq}
	</update>
	
	<update id="funcUpdate">
		UPDATE func
		SET
			funcName = #{funcName}
		WHERE
			funcSeq = #{funcSeq}
	</update>
	
	<delete id="delete">
		DELETE FROM product
		WHERE
			prodSeq = #{prodSeq}
	</delete>
	
	<delete id="funcDelete">
		DELETE FROM func
		WHERE
			funcSeq = #{funcSeq}
	</delete>
	
	<delete id="infoDelete">
		DELETE FROM feedinfo
		WHERE
			infoSeq = #{infoSeq}
	</delete>
	
	<update id="uelete">
		UPDATE product
		SET
			prodDelFlag = 1
		WHERE
			prodSeq = #{prodSeq}
	</update>
	
	<update id="severalUelete">
		UPDATE product
		SET
			prodDelFlag = 1
		WHERE prodSeq IN
		<foreach collection="listArray" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</update>
	
	<delete id="severalDelete">
		DELETE FROM product
		WHERE prodSeq IN
		<foreach collection="listArray" item="item" open="(" separator="," close=")">
			#{item}
		</foreach>
	</delete>
	
	<sql id="commonFeed">
		FROM product a
			LEFT JOIN feedinfo b ON a.prodSeq = b.product_prodSeq AND infoMain = 1
			LEFT JOIN func c ON a.prodSeq = c.product_prodSeq AND funcMain = 1
		WHERE 1=1
			AND a.prodDelFlag = 0
			AND a.prodType = #{prodType}
			<if test="shMinPrice != null and shMaxPrice != null">AND (b.infoPrice * (100 - b.infoDiscount) / 100) BETWEEN #{shMinPrice} AND #{shMaxPrice}</if>
			<if test="shFeedSalaryAge != null and !shFeedSalaryAge.equals('')">AND a.feedSalaryAge = #{shFeedSalaryAge}</if>
			<if test="shFeedType != null and !shFeedType.equals('')">AND a.feedType = #{shFeedType}</if>
			<if test="prodPetType != null and !prodPetType.equals('')">AND a.prodPetType = #{prodPetType}</if>
			<if test="prodFuncArray != null and prodFuncArray.size() > 0">
	        	<foreach collection="prodFuncArray" item="func">
	        		AND FIND_IN_SET(#{func}, (SELECT GROUP_CONCAT(funcName) FROM func WHERE a.prodSeq = product_prodSeq)) > 0
	        	</foreach>
	        </if>
	        <if test="shFeedEtc != null and !shFeedEtc.equals('')">AND a.feedEtc = #{shFeedEtc}</if>
	        <choose>
				<when test="shFeedWeight == 14">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight >= 1)</when>
				<when test="shFeedWeight == 15">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 1 AND 2)</when>
				<when test="shFeedWeight == 16">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 2 AND 5)</when>
				<when test="shFeedWeight == 17">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 5 AND 10)</when>
				<when test="shFeedWeight == 18">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight NOT BETWEEN 10 AND 15)</when>
				<when test="shFeedWeight == 19">AND NOT EXISTS (SELECT 1 FROM feedinfo WHERE a.prodSeq = product_prodSeq AND infoWeight &lt; 15)</when>
			</choose>
			<if test="feedBrandArray != null and feedBrandArray.size() > 0">
				AND a.feedBrand IN
				<foreach collection="feedBrandArray" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
	        </if>
	        <if test="shIngredientArray != null and shIngredientArray.size() > 0">
				AND a.feedIngredient IN
				<foreach collection="shIngredientArray" item="item" open="(" separator="," close=")">
					#{item}
				</foreach>
	        </if>
	        <if test="shFeedSize != null and !shFeedSize.equals('')">AND a.feedSize = #{shFeedSize}</if>
	        <if test="shSnckFeature != null and !shSnckFeature.equals('')">AND a.snckFeature = #{shSnckFeature}</if>
	</sql>
	
	<select id="selectFeedList" resultMap="resultMapObj">
		SELECT
			a.prodSeq,
			a.prodName,
			a.prodScore,
			a.feedBrand,
			b.infoPrice,
			b.infoWeight,
			b.infoDiscount,
			c.funcName,
			(SELECT path FROM image WHERE a.prodSeq = pseq AND delNy = 0 AND type = 1 ORDER BY sort LIMIT 1) AS path
		<include refid="commonFeed"></include>
        <choose>
			<when test="shSortBy == 1">ORDER BY a.prodRegDate DESC</when>
			<when test="shSortBy == 2">ORDER BY (SELECT COUNT(*) FROM review WHERE a.prodSeq = product_prodSeq AND reviDelFlag = 0) DESC</when>
			<when test="shSortBy == 3">ORDER BY b.infoPrice * (100 - infoDiscount) / 100</when>
			<when test="shSortBy == 4">ORDER BY b.infoPrice * (100 - infoDiscount) / 100 DESC</when>
		</choose>
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectOneFeedCount" resultType="Integer">
		SELECT COUNT(*)
		<include refid="commonFeed"></include>
	</select>
	
	<update id="updateScore">
		UPDATE product
		SET
			prodScore = (SELECT ROUND(SUM(reviScore) / COUNT(*), 1) FROM review WHERE product_prodSeq = #{prodSeq} AND reviDelFlag = 0)
		WHERE
			prodSeq = #{prodSeq}
	</update>
	
	<sql id="commonReview">
        	LEFT JOIN user b ON b.userSeq = a.user_userSeq
        	LEFT JOIN pet c ON b.userSeq = c.user_userSeq AND petMain = 1
        WHERE 1=1
        	AND product_prodSeq = #{prodSeq}
        	AND reviDelFlag = 0
        	<if test="shReviewImage == true">
        		AND (SELECT COUNT(*) FROM image WHERE pseq = a.reviSeq) > 0
        	</if>
	</sql>
	
	<select id="selectReview" resultMap="resultMapObj">
		SELECT
			a.reviScore,
			a.reviText,
			a.reviModDate,
			a.reviGood,
			b.userId,
			c.petName,
			c.petVarieties,
			c.petBirth,
			c.petWeight,
			(SELECT path FROM image WHERE pseq = c.petSeq AND delNy = 0 AND type = 3) AS path,
			GROUP_CONCAT(d.path) AS temp
		FROM
        	review a
        LEFT JOIN image d ON d.pseq = a.reviSeq AND d.delNy = 0 AND d.type = 4
		<include refid="commonReview"></include>
		GROUP BY a.reviSeq, c.petName, c.petVarieties, c.petBirth, c.petWeight, c.petSeq
        <choose>
			<when test="shReviewSort == 1">ORDER BY a.reviModDate DESC</when>
			<when test="shReviewSort == 2">ORDER BY a.reviScore DESC</when>
			<when test="shReviewSort == 3">ORDER BY a.reviScore</when>
		</choose>
		limit #{rowNumToShow} offset #{startRnumForMysql}
	</select>
	
	<select id="selectReviewCount" resultType="Integer">
		SELECT COUNT(*)
		FROM
        	review a
		<include refid="commonReview"></include>
	</select>
	
	<insert id="insertUploaded">
		<include refid="Base.insertUploaded"></include>
	</insert>
	
	<update id="updateUploaded">
		UPDATE image
		SET
			delNy = 1
		WHERE 1=1
			AND #{seq} = seq
	</update>
	
	<select id="selectImage1" resultMap="resultMapObj">
		SELECT
			seq,
			path,
			originalName,
			sort
		FROM
			image
		WHERE 1=1
			AND #{prodSeq} = pseq
			AND delNy = 0
			AND type = 1
		ORDER BY sort
	</select>
	
	<select id="selectImage2" resultMap="resultMapObj">
		SELECT
			seq,
			path,
			originalName,
			sort
		FROM
			image
		WHERE 1=1
			AND #{prodSeq} = pseq
			AND delNy = 0
			AND type = 2
		ORDER BY sort
	</select>
	
	<select id="selectPurchase" resultMap="resultMapObj">
		SELECT
			a.prodName,
			a.feedBrand,
			a.feedIngredient,
			b.infoPrice,
			b.infoDiscount,
			(b.infoPrice * (100 - infoDiscount) / 100) AS discountPrice
		FROM
			product a
			LEFT JOIN feedinfo b ON a.prodSeq = b.product_prodSeq AND infoWeight = #{infoWeight}
		WHERE 1=1
			AND #{prodSeq} = prodSeq
	</select>
	
	<select id="selectFeedInfo" resultMap="resultMapObj">
		SELECT
			infoPrice,
			infoDiscount,
			(infoPrice * (100 - infoDiscount) / 100) AS discountPrice
		FROM
			feedinfo
		WHERE 1=1
			AND product_prodSeq = #{prodSeq}
			AND infoWeight = #{infoWeight}
	</select>
</mapper>