
<!DOCTYPE html>
<html data-bs-theme="light" lang="en-US" dir="ltr" xmlns:th="http://www.thymeleaf.org">

		<div th:replace="~{xdm/include/head :: head}"></div>
        <form name="formList" id="formList" method="post" autocomplete="off">
          <input type="hidden" name="thisPage" th:value="${vo.thisPage}" default="1"/>
          <input type="hidden" id="rowNumToShow" name="rowNumToShow" th:value="${vo.rowNumToShow}"/>
          <div class="card mb-3" id="customersTable" data-list='{"valueNames":["#","name", "gender", "id","email", "phone", "address", "petCnt", "resist-date", "modify-date"]}'>
            <div class="card-header">
              <div class="mb-2 row g-3">
                <h1>회원 목록</h1>
                <div class="col-4">
                  <select class="form-select-JHY" id="shDelFlag" name="shDelFlag" aria-label="Default select example">
                    <option value="" th:selected="${vo.shDelFlag == null}">삭제여부</option>
                    <option value="1" th:selected="${vo.shDelFlag == 1}">Y</option>
                    <option value="0" th:selected="${vo.shDelFlag == 0}">N</option>  
                  </select>
                </div>
                <div class="col-4">
                  <select class="form-select-JHY" id="shSecession" name="shSecession" aria-label="Default select example">
                    <option value="" th:selected="${vo.shDelFlag == null}">탈퇴이유</option>
                    <option th:each="WithdrawReason : ${@codeService.selectListCachedCode(30)}" th:value="${WithdrawReason.codeSeq}" th:text="${WithdrawReason.codeName}" th:selected="${WithdrawReason.codeSeq} == ${vo.shSecession}"></option>
                  </select>
                </div>
              </div>
              <div class="mb-2 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOptionDate" name="shOptionDate" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOptionDate == null}">날짜</option>
                    <option value="1" th:selected="${vo.shOptionDate == 1}">등록일</option>
                    <option value="2" th:selected="${vo.shOptionDate == 2}">수정일</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateStart" name="shDateStart" th:value="${#strings.substring(vo.shDateStart, 0, 10)}" type="text" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
                <div class="col-4">
                  <input class="form-control-JHY datetimepicker" id="shDateEnd" name="shDateEnd" type="text" th:value="${#strings.substring(vo.shDateEnd, 0, 10)}" placeholder="yy-mm-dd" autocomplete="off" data-options='{"disableMobile":true}' />
                </div>
              </div>
              <div class="mb-4 row g-3">
                <div class="col-4">
                  <select class="form-select-JHY" id="shOption" name="shOption" aria-label="Default select example">
                    <option value="" th:selected="${vo.shOption == null}">검색구분</option>
                    <option value="1" th:selected="${vo.shOption == 1}">이름</option>
                    <option value="2" th:selected="${vo.shOption == 2}">아이디</option>
                    <option value="3" th:selected="${vo.shOption == 3}">이메일</option>
                    <option value="4" th:selected="${vo.shOption == 4}">전화번호</option>
                    <option value="5" th:selected="${vo.shOption == 5}">주소</option>
                  </select>
                </div>
                <div class="col-4">
                  <input class="form-control-JHY" type="text" id="shValue" name="shValue" th:value="${vo.shValue}" onkeyup="enterkey()" placeholder="검색어" />
                </div>
                <div class="col-4">
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnSearch" onclick="search()"><span class="fas fa-search"></span></button>
                  <button class="btn btn-outline-dark btn-sm" type="button" id="btnReset" onclick="shReset()"><span class="fas fa-redo-alt"></span></button>
                </div>
              </div>
              <div th:replace="~{xdm/include/listRowNum :: listRowNum}"></div>
            </div>
            <div class="card-body p-0">
              <div class="table-responsive scrollbar">
                <table class="table mb-0 data-table fs-10 align-middle-JHY" data-datatables="data-datatables">
                  <thead class="bg-200">
                    <tr>
                      <th>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input" id="checkbox-bulk-customers-select" type="checkbox" data-bulk-select='{"body":"table-customers-body","actions":"table-customers-actions","replacedElement":"table-customers-replace-element"}' />
                        </div>
                      </th>
                      <th class="text-900 sort white-nowrap" data-sort="#">#</th>
                      <th class="text-900 sort white-nowrap" data-sort="name">이름</th>
                      <th class="text-900 sort white-nowrap" data-sort="gender">성별</th>
                      <th class="text-900 sort white-nowrap" data-sort="id">아이디</th>
                      <th class="text-900 sort white-nowrap" data-sort="email">이메일</th>
                      <th class="text-900 sort white-nowrap" data-sort="phone">전화번호</th>
                      <th class="text-900 sort white-nowrap" data-sort="address">주소</th>
                      <th class="text-900 sort white-nowrap" data-sort="petCnt">반려동물 수</th>
                      <th class="text-900 sort white-nowrap" data-sort="resist-date">등록일</th>
                      <th class="text-900 sort white-nowrap text-end" data-sort="modify-date">수정일</th>
                    </tr>
                  </thead>
                  <tbody class="list" id="table-customers-body">
                    <tr th:if="${#lists.isEmpty(list)}">
                      <td>
                        <div class="fs-9 mb-0">
                          There are no data!
                        </div>
                      </td>
                    </tr>
                    <tr th:if="${!#lists.isEmpty(list)}" class="btn-reveal-trigger" th:each="list : ${list}">
                      <td>
                        <div class="form-check fs-9 mb-0 d-flex align-items-center">
                          <input class="form-check-input" type="checkbox" id="customer-0" data-bulk-select-row="data-bulk-select-row" />
                        </div>
                      </td>
                      <td class="#" th:text="${vo.totalRows - ((vo.thisPage - 1) * vo.rowNumToShow + listStat.index)}"></td>
                      <td class="name" th:text="${list.userName}"></td>
                      <td class="gender" th:text="${@codeService.selectOneCachedCode(list.userGender)}"></td>
                      <td class="id"><a th:href="@{/xdm/member/MemberXdmView(userSeq=${list.userSeq})}" th:text="${list.userId}"></a></td>
                      <td class="email" th:text="${list.userEmail}"></td>
                      <td class="phone" th:text="${list.userPhone}"></td>
                      <td class="address" th:text="${list.userAddr} + ' ' + ${list.userDetailAddr}"></td>
                      <td class="petCnt"><a th:href="@{/xdm/pet/PetXdmListSelectUser(userSeq=${list.userSeq})}" th:text="${list.petCount}"></a></td>
                      <td class="resist-date" th:text="${list.userRegDate}"></td>
                      <td class="modify-date text-end" th:text="${list.userModDate}"></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div th:replace="~{xdm/include/pagination :: pagination}"></div>
            <div class="mb-2 row g-3 ms-1 me-1">
              <div class="col" style="text-align: right;">
                <button class="btn btn-primary btn-sm" type="button">U</button>
                <button class="btn btn-success btn-sm" type="button"><span class="far fa-file-excel"></span></button>
              </div>
            </div>
          </div>
        </form>
        <div th:replace="~{xdm/include/footer :: footer}"><div>
        </div>
      </div>
    </main>
  <!-- ===============================================-->
  <!--    End of Main Content-->
  <!-- ===============================================-->
   <script>
    let form = document.querySelector("form[name=formList]");
    
    let goUrlXdmList = "/xdm/member/MemberXdmList";
   </script>
  <div th:replace="~{xdm/include/includeXdmFalcon :: includeXdmFalcon}"></div>
  <div th:replace="~{xdm/include/includeXdmCommon :: includeXdmCommon}"></div>
  <div th:replace="~{xdm/include/includeXdmList :: includeXdmList}"></div>
  </body>
  
  </html>